<a href="https://colab.research.google.com/github/bcdanl/320-code/blob/main/danl_320_script_2025_0212.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
df_pd = pd.read_csv('https://bcdanl.github.io/data/nba.csv')
df = spark.createDataFrame(df_pd)

In [2]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Birthday: string (nullable = true)
 |-- Salary: long (nullable = true)

In [3]:
df.show()

+---------------+--------------------+--------+--------+--------+
|           Name|                Team|Position|Birthday|  Salary|
+---------------+--------------------+--------+--------+--------+
|   Shake Milton|  Philadelphia 76ers|      SG| 9/26/96| 1445697|
| Christian Wood|     Detroit Pistons|      PF| 9/27/95| 1645357|
|  PJ Washington|   Charlotte Hornets|      PF| 8/23/98| 3831840|
|   Derrick Rose|     Detroit Pistons|      PG| 10/4/88| 7317074|
|  Marial Shayok|  Philadelphia 76ers|       G| 7/26/95|   79568|
| Draymond Green|Golden State Warr...|      PF|  3/4/90|18539130|
|  Kendrick Nunn|          Miami Heat|      SG|  8/3/95| 1416852|
|     Cedi Osman| Cleveland Cavaliers|      SF|  4/8/95| 2907143|
|    Brook Lopez|     Milwaukee Bucks|       C|  4/1/88|12093024|
|   Torrey Craig|      Denver Nuggets|      SF|12/19/90| 2000000|
|Jordan Clarkson| Cleveland Cavaliers|      PG|  6/7/92|13437500|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2/28/94| 2750000|
|   Norvel Pelle|  Philadelphia 76ers|      FC|  2/3/93|   79568|
|  Tyler Johnson|        Phoenix Suns|      PG|  5/7/92|19245370|
|     Alec Burks|Golden State Warr...|      SG| 7/20/91| 2320044|
| JaMychal Green|Los Angeles Clippers|      PF| 6/21/90| 4767000|
|  Dwight Howard|  Los Angeles Lakers|       C| 12/8/85| 5603850|
|   Nikola Jokic|      Denver Nuggets|       C| 2/19/95|27504630|
|  Chris Boucher|     Toronto Raptors|      PF| 1/11/93| 1588231|
|  Marcus Morris|     New York Knicks|      PF|  9/2/89|15000000|
+---------------+--------------------+--------+--------+--------+
only showing top 20 rows

# cast() method

In [4]:
from pyspark.sql.functions import col

df = (
    df.withColumn("Salary_int",
                  col("Salary").cast("int"))
)
df.show()

+---------------+--------------------+--------+--------+--------+----------+
|           Name|                Team|Position|Birthday|  Salary|Salary_int|
+---------------+--------------------+--------+--------+--------+----------+
|   Shake Milton|  Philadelphia 76ers|      SG| 9/26/96| 1445697|   1445697|
| Christian Wood|     Detroit Pistons|      PF| 9/27/95| 1645357|   1645357|
|  PJ Washington|   Charlotte Hornets|      PF| 8/23/98| 3831840|   3831840|
|   Derrick Rose|     Detroit Pistons|      PG| 10/4/88| 7317074|   7317074|
|  Marial Shayok|  Philadelphia 76ers|       G| 7/26/95|   79568|     79568|
| Draymond Green|Golden State Warr...|      PF|  3/4/90|18539130|  18539130|
|  Kendrick Nunn|          Miami Heat|      SG|  8/3/95| 1416852|   1416852|
|     Cedi Osman| Cleveland Cavaliers|      SF|  4/8/95| 2907143|   2907143|
|    Brook Lopez|     Milwaukee Bucks|       C|  4/1/88|12093024|  12093024|
|   Torrey Craig|      Denver Nuggets|      SF|12/19/90| 2000000|   2000000|
|Jordan Clarkson| Cleveland Cavaliers|      PG|  6/7/92|13437500|  13437500|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2/28/94| 2750000|   2750000|
|   Norvel Pelle|  Philadelphia 76ers|      FC|  2/3/93|   79568|     79568|
|  Tyler Johnson|        Phoenix Suns|      PG|  5/7/92|19245370|  19245370|
|     Alec Burks|Golden State Warr...|      SG| 7/20/91| 2320044|   2320044|
| JaMychal Green|Los Angeles Clippers|      PF| 6/21/90| 4767000|   4767000|
|  Dwight Howard|  Los Angeles Lakers|       C| 12/8/85| 5603850|   5603850|
|   Nikola Jokic|      Denver Nuggets|       C| 2/19/95|27504630|  27504630|
|  Chris Boucher|     Toronto Raptors|      PF| 1/11/93| 1588231|   1588231|
|  Marcus Morris|     New York Knicks|      PF|  9/2/89|15000000|  15000000|
+---------------+--------------------+--------+--------+--------+----------+
only showing top 20 rows

In [5]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Birthday: string (nullable = true)
 |-- Salary: long (nullable = true)
 |-- Salary_int: integer (nullable = true)

In [8]:
from pyspark.sql.functions import to_date

spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

df = df.withColumn("Birthday_date",
                   to_date("Birthday", "M/d/yy"))

df.show()

+---------------+--------------------+--------+--------+--------+----------+-------------+
|           Name|                Team|Position|Birthday|  Salary|Salary_int|Birthday_date|
+---------------+--------------------+--------+--------+--------+----------+-------------+
|   Shake Milton|  Philadelphia 76ers|      SG| 9/26/96| 1445697|   1445697|   1996-09-26|
| Christian Wood|     Detroit Pistons|      PF| 9/27/95| 1645357|   1645357|   1995-09-27|
|  PJ Washington|   Charlotte Hornets|      PF| 8/23/98| 3831840|   3831840|   1998-08-23|
|   Derrick Rose|     Detroit Pistons|      PG| 10/4/88| 7317074|   7317074|   1988-10-04|
|  Marial Shayok|  Philadelphia 76ers|       G| 7/26/95|   79568|     79568|   1995-07-26|
| Draymond Green|Golden State Warr...|      PF|  3/4/90|18539130|  18539130|   1990-03-04|
|  Kendrick Nunn|          Miami Heat|      SG|  8/3/95| 1416852|   1416852|   1995-08-03|
|     Cedi Osman| Cleveland Cavaliers|      SF|  4/8/95| 2907143|   2907143|   1995-04-08|
|    Brook Lopez|     Milwaukee Bucks|       C|  4/1/88|12093024|  12093024|   1988-04-01|
|   Torrey Craig|      Denver Nuggets|      SF|12/19/90| 2000000|   2000000|   1990-12-19|
|Jordan Clarkson| Cleveland Cavaliers|      PG|  6/7/92|13437500|  13437500|   1992-06-07|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2/28/94| 2750000|   2750000|   1994-02-28|
|   Norvel Pelle|  Philadelphia 76ers|      FC|  2/3/93|   79568|     79568|   1993-02-03|
|  Tyler Johnson|        Phoenix Suns|      PG|  5/7/92|19245370|  19245370|   1992-05-07|
|     Alec Burks|Golden State Warr...|      SG| 7/20/91| 2320044|   2320044|   1991-07-20|
| JaMychal Green|Los Angeles Clippers|      PF| 6/21/90| 4767000|   4767000|   1990-06-21|
|  Dwight Howard|  Los Angeles Lakers|       C| 12/8/85| 5603850|   5603850|   1985-12-08|
|   Nikola Jokic|      Denver Nuggets|       C| 2/19/95|27504630|  27504630|   1995-02-19|
|  Chris Boucher|     Toronto Raptors|      PF| 1/11/93| 1588231|   1588231|   1993-01-11|
|  Marcus Morris|     New York Knicks|      PF|  9/2/89|15000000|  15000000|   1989-09-02|
+---------------+--------------------+--------+--------+--------+----------+-------------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Birthday: string (nullable = true)
 |-- Salary: long (nullable = true)
 |-- Salary_int: integer (nullable = true)
 |-- Birthday_date: date (nullable = true)

# CW 5.4

In [10]:
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
nfl_pd = pd.read_csv('https://bcdanl.github.io/data/nfl.csv')
nfl = spark.createDataFrame(nfl_pd)

In [11]:
nfl.show()

+----------------+--------------------+--------+----------+--------+
|            Name|                Team|Position|  Birthday|  Salary|
+----------------+--------------------+--------+----------+--------+
|    Tremon Smith| Philadelphia Eagles|      RB| 7/20/1996|  570000|
|  Shawn Williams|  Cincinnati Bengals|      SS| 5/13/1991| 3500000|
|     Adam Butler|New England Patriots|      DT| 4/12/1994|  645000|
|     Derek Wolfe|      Denver Broncos|      DE| 2/24/1990| 8000000|
|       Jake Ryan|Jacksonville Jaguars|     OLB| 2/27/1992| 1000000|
| Ezekiel Elliott|      Dallas Cowboys|      RB| 7/22/1995| 3853137|
|    John Jenkins|      Miami Dolphins|      DE| 7/11/1989|  805000|
|  Andrew Wingard|Jacksonville Jaguars|      FS| 12/5/1996|  495000|
|      John Jerry|  Cincinnati Bengals|      OT| 6/14/1986|  930000|
|    Matt Barkley|       Buffalo Bills|      QB|  9/8/1990| 1250000|
|     Josh Harris|     Atlanta Falcons|      LS| 4/27/1989|  930000|
|  Adarius Taylor|    Cleveland Browns|     OLB| 9/21/1990| 1350000|
| Olabisi Johnson|   Minnesota Vikings|      WR| 3/17/1997|  647500|
|    Andrew Adams|Tampa Bay Buccaneers|      SS|10/28/1992|  720000|
|    Forrest Lamp|Los Angeles Chargers|       G| 2/20/1994| 1071084|
|   Ryan Kerrigan| Washington Redskins|     OLB| 8/16/1988|10500000|
|    Robert Davis| Philadelphia Eagles|      WR|  4/2/1995|  570000|
|     Kevin Byard|    Tennessee Titans|      FS| 8/17/1993| 2025000|
|   Pat O'Donnell|       Chicago Bears|       P| 2/22/1991| 1250000|
|Barkevious Mingo|      Houston Texans|     OLB| 10/4/1990| 3400000|
+----------------+--------------------+--------+----------+--------+
only showing top 20 rows

In [12]:

nfl = nfl.withColumn("Birthday",
                     to_date("Birthday", "M/d/yy"))
nfl.show()

+----------------+--------------------+--------+----------+--------+
|            Name|                Team|Position|  Birthday|  Salary|
+----------------+--------------------+--------+----------+--------+
|    Tremon Smith| Philadelphia Eagles|      RB|1996-07-20|  570000|
|  Shawn Williams|  Cincinnati Bengals|      SS|1991-05-13| 3500000|
|     Adam Butler|New England Patriots|      DT|1994-04-12|  645000|
|     Derek Wolfe|      Denver Broncos|      DE|1990-02-24| 8000000|
|       Jake Ryan|Jacksonville Jaguars|     OLB|1992-02-27| 1000000|
| Ezekiel Elliott|      Dallas Cowboys|      RB|1995-07-22| 3853137|
|    John Jenkins|      Miami Dolphins|      DE|1989-07-11|  805000|
|  Andrew Wingard|Jacksonville Jaguars|      FS|1996-12-05|  495000|
|      John Jerry|  Cincinnati Bengals|      OT|1986-06-14|  930000|
|    Matt Barkley|       Buffalo Bills|      QB|1990-09-08| 1250000|
|     Josh Harris|     Atlanta Falcons|      LS|1989-04-27|  930000|
|  Adarius Taylor|    Cleveland Browns|     OLB|1990-09-21| 1350000|
| Olabisi Johnson|   Minnesota Vikings|      WR|1997-03-17|  647500|
|    Andrew Adams|Tampa Bay Buccaneers|      SS|1992-10-28|  720000|
|    Forrest Lamp|Los Angeles Chargers|       G|1994-02-20| 1071084|
|   Ryan Kerrigan| Washington Redskins|     OLB|1988-08-16|10500000|
|    Robert Davis| Philadelphia Eagles|      WR|1995-04-02|  570000|
|     Kevin Byard|    Tennessee Titans|      FS|1993-08-17| 2025000|
|   Pat O'Donnell|       Chicago Bears|       P|1991-02-22| 1250000|
|Barkevious Mingo|      Houston Texans|     OLB|1990-10-04| 3400000|
+----------------+--------------------+--------+----------+--------+
only showing top 20 rows

# CW 5.5
Who are the five highest-paid players?

In [16]:
from pyspark.sql.functions import desc


(
    nfl.orderBy(nfl.Salary.desc())
    .limit(6)
    .show()
)

+---------------+--------------------+--------+----------+--------+
|           Name|                Team|Position|  Birthday|  Salary|
+---------------+--------------------+--------+----------+--------+
|   Kirk Cousins|   Minnesota Vikings|      QB|1988-08-19|27500000|
| Marcus Mariota|    Tennessee Titans|      QB|1993-10-30|20922000|
| Jameis Winston|Tampa Bay Buccaneers|      QB|1994-01-06|20922000|
|     Derek Carr|     Oakland Raiders|      QB|1991-03-28|19900000|
|Jimmy Garoppolo| San Francisco 49Ers|      QB|1991-11-02|17200000|
|  Melvin Ingram|Los Angeles Chargers|      DE|1989-04-26|17000000|
+---------------+--------------------+--------+----------+--------+

Who is the oldest player?

In [17]:

(
    nfl.orderBy(nfl.Birthday)
    .limit(2)
    .show()
)

+----------+--------------------+--------+----------+--------+
|      Name|                Team|Position|  Birthday|  Salary|
+----------+--------------------+--------+----------+--------+
| Tom Brady|New England Patriots|      QB|1977-08-03|14000000|
|Drew Brees|  New Orleans Saints|      QB|1979-01-15| 1400000|
+----------+--------------------+--------+----------+--------+

# CW 5.6

How can we sort the DataFrame first by Team in alphabetical order and then by Salary in descending order?

In [22]:
(
    nfl.orderBy("Team", nfl.Salary.desc())
    .show(50)
)

+------------------+-----------------+--------+----------+--------+
|              Name|             Team|Position|  Birthday|  Salary|
+------------------+-----------------+--------+----------+--------+
|    Chandler Jones|Arizona Cardinals|     OLB|1990-02-27|16500000|
|  Patrick Peterson|Arizona Cardinals|      CB|1990-07-11|11000000|
|  Larry Fitzgerald|Arizona Cardinals|      WR|1983-08-31|11000000|
|     David Johnson|Arizona Cardinals|      RB|1991-12-16| 5700000|
|       Justin Pugh|Arizona Cardinals|       G|1990-08-15| 5000000|
|      Corey Peters|Arizona Cardinals|      NT|1988-06-08| 3250000|
|      Kenyan Drake|Arizona Cardinals|      RB|1994-01-26| 2025000|
|          Andy Lee|Arizona Cardinals|       P|1982-08-11| 2000000|
|      Jordan Hicks|Arizona Cardinals|     ILB|1991-10-14| 2000000|
|       Chris Jones|Arizona Cardinals|      CB|1995-08-13| 1800000|
|      Jordan Mills|Arizona Cardinals|      OT|1990-12-24| 1700000|
|    Haason Reddick|Arizona Cardinals|     ILB|1994-09-22| 1690270|
|         Zach Kerr|Arizona Cardinals|      DE|1990-08-29| 1500000|
|      Charles Clay|Arizona Cardinals|      TE|1989-02-13| 1150000|
|       Brooks Reed|Arizona Cardinals|     OLB|1987-02-25| 1125000|
|     Brett Hundley|Arizona Cardinals|      QB|1993-06-15| 1125000|
|        Max Garcia|Arizona Cardinals|       G|1991-11-09| 1100000|
|       Budda Baker|Arizona Cardinals|      FS|1996-01-10| 1085910|
|     Rodney Gunter|Arizona Cardinals|      DE|1992-01-19| 1000000|
|      Aaron Brewer|Arizona Cardinals|      LS|1990-07-05|  930000|
|     Cassius Marsh|Arizona Cardinals|     OLB|1992-07-07|  850000|
|       Chris Banjo|Arizona Cardinals|      FS|1990-02-26|  850000|
|  Jonathan Bullard|Arizona Cardinals|      DE|1993-11-30|  820000|
|     Maxx Williams|Arizona Cardinals|      TE|1994-04-12|  805000|
|       Caraun Reid|Arizona Cardinals|      DE|1991-11-23|  805000|
|    Christian Kirk|Arizona Cardinals|      WR|1996-11-18|  747948|
|     Pharoh Cooper|Arizona Cardinals|      WR|1995-03-07|  720000|
|      Damiere Byrd|Arizona Cardinals|      WR|1993-01-27|  720000|
|        Joe Walker|Arizona Cardinals|     ILB|1992-12-11|  645000|
|     Zane Gonzalez|Arizona Cardinals|       K|1995-05-07|  645000|
|    Tanner Vallejo|Arizona Cardinals|     ILB|1994-12-16|  645000|
|   Darrell Daniels|Arizona Cardinals|      TE|1994-11-22|  645000|
|Charles Washington|Arizona Cardinals|      FS|1993-03-10|  645000|
|       Kylie Fitts|Arizona Cardinals|     OLB|1994-10-11|  570000|
|    Dennis Gardeck|Arizona Cardinals|     ILB|1994-08-09|  570000|
|     Chase Edmonds|Arizona Cardinals|      RB|1996-04-13|  570000|
|        Dan Arnold|Arizona Cardinals|      TE|1995-03-15|  570000|
|     Justin Murray|Arizona Cardinals|      OT|1993-04-19|  570000|
|        Mason Cole|Arizona Cardinals|       C|1996-03-28|  570000|
|    Kevin Peterson|Arizona Cardinals|      CB|1994-03-22|  570000|
|  Keishawn Bierria|Arizona Cardinals|     OLB|1995-07-26|  570000|
|   Trent Sherfield|Arizona Cardinals|      WR|1996-02-26|  570000|
|     Michael Dogbe|Arizona Cardinals|      DE|1996-05-05|  495000|
|  Deionte Thompson|Arizona Cardinals|      SS|1997-02-11|  495000|
|      Kyler Murray|Arizona Cardinals|      QB|1997-08-07|  495000|
|      Joshua Miles|Arizona Cardinals|      OT|1996-01-04|  495000|
|      Byron Murphy|Arizona Cardinals|      CB|1998-01-18|  495000|
|   Keesean Johnson|Arizona Cardinals|      WR|1996-10-09|  495000|
|     Andy Isabella|Arizona Cardinals|      WR|1996-11-18|  495000|
|    Jalen Thompson|Arizona Cardinals|      SS|1998-07-18|  495000|
+------------------+-----------------+--------+----------+--------+
only showing top 50 rows

# CW 5.7.

In [28]:
(
    nfl.filter(col("Team") == "Kansas City Chiefs")
    .orderBy(col("Birthday"))
    .show()
)

+--------------------+------------------+--------+----------+--------+
|                Name|              Team|Position|  Birthday|  Salary|
+--------------------+------------------+--------+----------+--------+
|     Dustin Colquitt|Kansas City Chiefs|       P|1982-05-06| 2450000|
|       Terrell Suggs|Kansas City Chiefs|      DE|1982-10-11| 3000000|
|    James Winchester|Kansas City Chiefs|      LS|1984-03-10|  820000|
|        LeSean McCoy|Kansas City Chiefs|      RB|1988-07-12| 6175000|
|     Anthony Sherman|Kansas City Chiefs|      FB|1988-12-11|  930000|
|   Stefen Wisniewski|Kansas City Chiefs|       G|1989-03-22| 1250000|
|   Mitchell Schwartz|Kansas City Chiefs|      OT|1989-06-08| 6000000|
|        Travis Kelce|Kansas City Chiefs|      TE|1989-10-05| 7500000|
|    Morris Claiborne|Kansas City Chiefs|      CB|1990-02-07| 1080000|
|     Daniel Sorensen|Kansas City Chiefs|      FS|1990-03-05| 3600000|
|         Eric Fisher|Kansas City Chiefs|      OT|1991-01-05|10350000|
|         Alex Okafor|Kansas City Chiefs|      DE|1991-02-08|  805000|
|Laurent Duvernay-...|Kansas City Chiefs|       G|1991-02-11| 6203000|
|         Mike Pennel|Kansas City Chiefs|      DT|1991-05-09| 1000000|
|          Blake Bell|Kansas City Chiefs|      TE|1991-08-07|  805000|
|        Spencer Ware|Kansas City Chiefs|      RB|1991-11-23|  805000|
|       Austin Reiter|Kansas City Chiefs|       C|1991-11-27|  975000|
|     Xavier Williams|Kansas City Chiefs|      DT|1992-01-18| 2257000|
|    Bashaud Breeland|Kansas City Chiefs|      CB|1992-01-30|  805000|
|     Damien Williams|Kansas City Chiefs|      RB|1992-04-03| 1050000|
+--------------------+------------------+--------+----------+--------+
only showing top 20 rows

# CW 5.8

In [29]:
(
    df.selectExpr(
        "median(Salary) as Salary_median"
    )
    .show()
)

+-------------+
|Salary_median|
+-------------+
|    3303074.5|
+-------------+

# CW 6.1

In [40]:
# import pandas as pd
# from pyspark.sql import SparkSession
df = pd.read_csv("https://bcdanl.github.io/data/netflix.csv")
df = df.where(pd.notnull(df), None)
netflix = spark.createDataFrame(df)

In [32]:
netflix.show(truncate=False)

+----------------------------------+----------------------+----------+-------+
|title                             |director              |date_added|type   |
+----------------------------------+----------------------+----------+-------+
|Alias Grace                       |NULL                  |3-Nov-17  |TV Show|
|A Patch of Fog                    |Michael Lennox        |15-Apr-17 |Movie  |
|Lunatics                          |NULL                  |19-Apr-19 |TV Show|
|Uriyadi 2                         |Vijay Kumar           |2-Aug-19  |Movie  |
|Shrek the Musical                 |Jason Moore           |29-Dec-13 |Movie  |
|Schubert In Love                  |Lars BÃ¼chel           |1-Mar-18  |Movie  |
|We Have Always Lived in the Castle|Stacie Passon         |14-Sep-19 |Movie  |
|7SEEDS                            |NULL                  |28-Jun-19 |TV Show|
|Voyeur                            |Myles Kane            |1-Dec-17  |Movie  |
|You                               |Lee Toland Krieger    |26-Dec-18 |TV Show|
|Hasta los dientes                 |Alberto Arnaut Estrada|13-Aug-19 |Movie  |
|LEGO House - Home of the Brick    |Anders Falck          |15-Jun-18 |Movie  |
|Without Gorky                     |Cosima Spender        |31-May-17 |Movie  |
|Chalay Thay Saath                 |Umer Adil             |15-May-18 |Movie  |
|Ocean's Thirteen                  |Steven Soderbergh     |1-Oct-19  |Movie  |
|Loaded                            |NULL                  |1-Apr-18  |TV Show|
|The Family Court                  |NULL                  |1-Nov-17  |TV Show|
|Lincoln                           |Steven Spielberg      |21-Feb-18 |Movie  |
|The Rugrats Movie                 |Igor Kovalyov         |1-Oct-19  |Movie  |
|DJ Cinderella                     |Bruno Garotti         |14-Jun-19 |Movie  |
+----------------------------------+----------------------+----------+-------+
only showing top 20 rows

In [33]:
netflix.printSchema()

root
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- type: string (nullable = true)

In [42]:
# spark.sql("set spark.sql.legacy.timeParserPolicy=EXCEPTION")
# spark.conf.set("spark.sql.legacy.timeParserPolicy", "EXCEPTION")

netflix = netflix.withColumn("date_added_new",
                             to_date("date_added", "dd-MMM-yy"))

In [43]:
type(netflix)

pyspark.sql.dataframe.DataFrame

In [44]:
netflix.show()

Py4JJavaError: An error occurred while calling o970.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 32.0 failed 1 times, most recent failure: Lost task 0.0 in stage 32.0 (TID 42) (b415b3b25ae3 executor driver): org.apache.spark.SparkUpgradeException: [INCONSISTENT_BEHAVIOR_CROSS_VERSION.PARSE_DATETIME_BY_NEW_PARSER] You may get a different result due to the upgrading to Spark >= 3.0:
Fail to parse '3-Nov-17' in the new parser. You can set "spark.sql.legacy.timeParserPolicy" to "LEGACY" to restore the behavior before Spark 3.0, or set to "CORRECTED" and treat it as an invalid datetime string.
	at org.apache.spark.sql.errors.ExecutionErrors.failToParseDateTimeInNewParserError(ExecutionErrors.scala:54)
	at org.apache.spark.sql.errors.ExecutionErrors.failToParseDateTimeInNewParserError$(ExecutionErrors.scala:48)
	at org.apache.spark.sql.errors.ExecutionErrors$.failToParseDateTimeInNewParserError(ExecutionErrors.scala:218)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:142)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:135)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:195)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.time.format.DateTimeParseException: Text '3-Nov-17' could not be parsed at index 0
	at java.base/java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:2046)
	at java.base/java.time.format.DateTimeFormatter.parse(DateTimeFormatter.java:1874)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:193)
	... 20 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2393)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2414)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2433)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4333)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3316)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4323)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4321)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4321)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3316)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3539)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:280)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:315)
	at jdk.internal.reflect.GeneratedMethodAccessor60.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.SparkUpgradeException: [INCONSISTENT_BEHAVIOR_CROSS_VERSION.PARSE_DATETIME_BY_NEW_PARSER] You may get a different result due to the upgrading to Spark >= 3.0:
Fail to parse '3-Nov-17' in the new parser. You can set "spark.sql.legacy.timeParserPolicy" to "LEGACY" to restore the behavior before Spark 3.0, or set to "CORRECTED" and treat it as an invalid datetime string.
	at org.apache.spark.sql.errors.ExecutionErrors.failToParseDateTimeInNewParserError(ExecutionErrors.scala:54)
	at org.apache.spark.sql.errors.ExecutionErrors.failToParseDateTimeInNewParserError$(ExecutionErrors.scala:48)
	at org.apache.spark.sql.errors.ExecutionErrors$.failToParseDateTimeInNewParserError(ExecutionErrors.scala:218)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:142)
	at org.apache.spark.sql.catalyst.util.DateTimeFormatterHelper$$anonfun$checkParsedDiff$1.applyOrElse(DateTimeFormatterHelper.scala:135)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:195)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: java.time.format.DateTimeParseException: Text '3-Nov-17' could not be parsed at index 0
	at java.base/java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:2046)
	at java.base/java.time.format.DateTimeFormatter.parse(DateTimeFormatter.java:1874)
	at org.apache.spark.sql.catalyst.util.Iso8601TimestampFormatter.parse(TimestampFormatter.scala:193)
	... 20 more

In [45]:
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
df_pd = pd.read_csv('https://bcdanl.github.io/data/netflix.csv')

In [46]:
df_pd = df_pd.where(pd.notnull(df_pd), None)
netflix = spark.createDataFrame(df_pd)

In [47]:
netflix.show()

+--------------------+--------------------+----------+-------+
|               title|            director|date_added|   type|
+--------------------+--------------------+----------+-------+
|         Alias Grace|                NULL|  3-Nov-17|TV Show|
|      A Patch of Fog|      Michael Lennox| 15-Apr-17|  Movie|
|            Lunatics|                NULL| 19-Apr-19|TV Show|
|           Uriyadi 2|         Vijay Kumar|  2-Aug-19|  Movie|
|   Shrek the Musical|         Jason Moore| 29-Dec-13|  Movie|
|    Schubert In Love|         Lars BÃ¼chel|  1-Mar-18|  Movie|
|We Have Always Li...|       Stacie Passon| 14-Sep-19|  Movie|
|              7SEEDS|                NULL| 28-Jun-19|TV Show|
|              Voyeur|          Myles Kane|  1-Dec-17|  Movie|
|                 You|  Lee Toland Krieger| 26-Dec-18|TV Show|
|   Hasta los dientes|Alberto Arnaut Es...| 13-Aug-19|  Movie|
|LEGO House - Home...|        Anders Falck| 15-Jun-18|  Movie|
|       Without Gorky|      Cosima Spender| 31-May-17|  Movie|
|   Chalay Thay Saath|           Umer Adil| 15-May-18|  Movie|
|    Ocean's Thirteen|   Steven Soderbergh|  1-Oct-19|  Movie|
|              Loaded|                NULL|  1-Apr-18|TV Show|
|    The Family Court|                NULL|  1-Nov-17|TV Show|
|             Lincoln|    Steven Spielberg| 21-Feb-18|  Movie|
|   The Rugrats Movie|       Igor Kovalyov|  1-Oct-19|  Movie|
|       DJ Cinderella|       Bruno Garotti| 14-Jun-19|  Movie|
+--------------------+--------------------+----------+-------+
only showing top 20 rows

In [48]:
# Convert to date or timestamp
from pyspark.sql.functions import to_date

# Casting the "Birthday" column to a date type
netflix = netflix.withColumn("date_added", to_date("date_added", "d-MMM-yy"))
netflix.show()

+--------------------+--------------------+----------+-------+
|               title|            director|date_added|   type|
+--------------------+--------------------+----------+-------+
|         Alias Grace|                NULL|2017-11-03|TV Show|
|      A Patch of Fog|      Michael Lennox|2017-04-15|  Movie|
|            Lunatics|                NULL|2019-04-19|TV Show|
|           Uriyadi 2|         Vijay Kumar|2019-08-02|  Movie|
|   Shrek the Musical|         Jason Moore|2013-12-29|  Movie|
|    Schubert In Love|         Lars BÃ¼chel|2018-03-01|  Movie|
|We Have Always Li...|       Stacie Passon|2019-09-14|  Movie|
|              7SEEDS|                NULL|2019-06-28|TV Show|
|              Voyeur|          Myles Kane|2017-12-01|  Movie|
|                 You|  Lee Toland Krieger|2018-12-26|TV Show|
|   Hasta los dientes|Alberto Arnaut Es...|2019-08-13|  Movie|
|LEGO House - Home...|        Anders Falck|2018-06-15|  Movie|
|       Without Gorky|      Cosima Spender|2017-05-31|  Movie|
|   Chalay Thay Saath|           Umer Adil|2018-05-15|  Movie|
|    Ocean's Thirteen|   Steven Soderbergh|2019-10-01|  Movie|
|              Loaded|                NULL|2018-04-01|TV Show|
|    The Family Court|                NULL|2017-11-01|TV Show|
|             Lincoln|    Steven Spielberg|2018-02-21|  Movie|
|   The Rugrats Movie|       Igor Kovalyov|2019-10-01|  Movie|
|       DJ Cinderella|       Bruno Garotti|2019-06-14|  Movie|
+--------------------+--------------------+----------+-------+
only showing top 20 rows

# Filter

In [49]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.master("local[*]").getOrCreate()
df_pd = pd.read_csv("https://bcdanl.github.io/data/employment.csv")
df_pd = df_pd.where(pd.notnull(df_pd), None)  # Convert NaN to None
df = spark.createDataFrame(df_pd)

df.show()

+----------+------+----------+--------+-----+------------+
|First Name|Gender|Start Date|  Salary| Mgmt|        Team|
+----------+------+----------+--------+-----+------------+
|   Douglas|  Male|    8/6/93|     NaN| true|   Marketing|
|    Thomas|  Male|   3/31/96| 61933.0| true|        NULL|
|     Maria|Female|      NULL|130590.0|false|     Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|     Finance|
|     Larry|  Male|   1/24/98|101004.0| true|          IT|
|    Dennis|  Male|   4/18/87|115163.0|false|       Legal|
|      Ruby|Female|   8/17/87| 65476.0| true|     Product|
|      NULL|Female|   7/20/15| 45906.0| NULL|     Finance|
|    Angela|Female|  11/22/05| 95570.0| true| Engineering|
|   Frances|Female|    8/8/02|139852.0| true|Business Dev|
|    Louise|Female|   8/12/80| 63241.0| true|        NULL|
|     Julie|Female|  10/26/97|102508.0| true|       Legal|
|   Brandon|  Male|   12/1/80|112807.0| true|          HR|
|      Gary|  Male|   1/27/08|109831.0|false|       Sales|
|  Kimberly|Female|   1/14/99| 41426.0| true|     Finance|
|   Lillian|Female|    6/5/16| 59414.0|false|     Product|
|    Jeremy|  Male|   9/21/10| 90370.0|false|          HR|
|     Shawn|  Male|   12/7/86|111737.0|false|     Product|
|     Diana|Female|  10/23/81|132940.0|false|          IT|
|     Donna|Female|   7/22/10| 81014.0|false|     Product|
+----------+------+----------+--------+-----+------------+
only showing top 20 rows

In [50]:
df.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Salary: double (nullable = true)
 |-- Mgmt: boolean (nullable = true)
 |-- Team: string (nullable = true)

In [51]:
df.filter(col("Salary") > 100000).show()

+----------+------+----------+--------+-----+------------+
|First Name|Gender|Start Date|  Salary| Mgmt|        Team|
+----------+------+----------+--------+-----+------------+
|   Douglas|  Male|    8/6/93|     NaN| true|   Marketing|
|     Maria|Female|      NULL|130590.0|false|     Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|     Finance|
|     Larry|  Male|   1/24/98|101004.0| true|          IT|
|    Dennis|  Male|   4/18/87|115163.0|false|       Legal|
|   Frances|Female|    8/8/02|139852.0| true|Business Dev|
|     Julie|Female|  10/26/97|102508.0| true|       Legal|
|   Brandon|  Male|   12/1/80|112807.0| true|          HR|
|      Gary|  Male|   1/27/08|109831.0|false|       Sales|
|     Shawn|  Male|   12/7/86|111737.0|false|     Product|
|     Diana|Female|  10/23/81|132940.0|false|          IT|
|   Matthew|  Male|    9/5/95|100612.0|false|   Marketing|
|      NULL|  Male|   6/14/12|125792.0| NULL|        NULL|
|     Scott|  NULL|   7/11/91|122367.0|false|       Legal|
|     Terry|  Male|  11/27/81|124008.0| true|          IT|
| Christina|Female|    8/6/02|118780.0| true| Engineering|
|      NULL|  Male|   8/21/98|122340.0| NULL|        NULL|
|      Jean|Female|  12/18/93|119082.0|false|Business Dev|
|    Rachel|Female|   2/16/09|142032.0|false|Business Dev|
|      NULL|  Male|   1/29/16|122173.0| NULL|          IT|
+----------+------+----------+--------+-----+------------+
only showing top 20 rows

In [52]:
(
    df.filter(
        (col("Team") == "Finance") & (col("Salary") > 100000)
    ).show()
)

+----------+------+----------+--------+-----+-------+
|First Name|Gender|Start Date|  Salary| Mgmt|   Team|
+----------+------+----------+--------+-----+-------+
|     Maria|Female|      NULL|130590.0|false|Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|Finance|
|     Bruce|  Male|  11/28/09|114796.0|false|Finance|
|      Carl|  Male|    5/3/06|130276.0| true|Finance|
|     Irene|  NULL|   7/14/15|100863.0| true|Finance|
|     Shawn|  Male|   9/23/05|148115.0| true|Finance|
|   Cynthia|Female|   3/21/94|142321.0|false|Finance|
|   Phyllis|Female|  10/11/96|136984.0| true|Finance|
|    Steven|  Male|    3/1/95|109095.0|false|Finance|
| Elizabeth|Female|   10/9/03|146129.0|false|Finance|
|     Kathy|Female|   3/18/00|149563.0| true|Finance|
|   Brandon|  Male|   3/27/06|115711.0| true|Finance|
|     Billy|  Male|   3/13/95|120444.0| true|Finance|
|    Walter|  Male|    7/6/83|127813.0|false|Finance|
|       Roy|  Male|    8/6/06|148225.0|false|Finance|
|    Philip|  Male|    8/2/89|129968.0|false|Finance|
|    Justin|  Male|   5/22/86|121508.0| true|Finance|
|    Albert|  Male|   9/30/07|102626.0|false|Finance|
|    Ashley|Female|   8/15/97|142415.0| true|Finance|
|   Barbara|Female|   3/22/04|144677.0|false|Finance|
+----------+------+----------+--------+-----+-------+
only showing top 20 rows

In [53]:
df.filter(
    (col("Team") == "Finance") |
    (col("Team") == "Legal")   |
    (col("Team") == "Sales")
).show()

+----------+------+----------+--------+-----+-------+
|First Name|Gender|Start Date|  Salary| Mgmt|   Team|
+----------+------+----------+--------+-----+-------+
|     Maria|Female|      NULL|130590.0|false|Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|Finance|
|    Dennis|  Male|   4/18/87|115163.0|false|  Legal|
|      NULL|Female|   7/20/15| 45906.0| NULL|Finance|
|     Julie|Female|  10/26/97|102508.0| true|  Legal|
|      Gary|  Male|   1/27/08|109831.0|false|  Sales|
|  Kimberly|Female|   1/14/99| 41426.0| true|Finance|
|      Lois|  NULL|   4/22/95| 64714.0| true|  Legal|
|     Scott|  NULL|   7/11/91|122367.0|false|  Legal|
|  Benjamin|  Male|   1/26/05| 79529.0| true|  Legal|
|   Theresa|Female|  10/10/06| 85182.0|false|  Sales|
|   Beverly|Female|    9/9/98|121918.0|false|  Legal|
|     Roger|  Male|   4/17/80| 88010.0| true|  Sales|
|     Bruce|  Male|  11/28/09|114796.0|false|Finance|
|     Chris|  NULL|   1/24/80|113590.0|false|  Sales|
|      NULL|  NULL|  12/17/11| 41126.0| NULL|  Sales|
|      Alan|  NULL|    3/3/14| 40341.0| true|Finance|
|      Carl|  Male|    5/3/06|130276.0| true|Finance|
|    Rachel|Female|   8/16/99| 51178.0| true|Finance|
|      Jose|  Male|  10/30/04| 84834.0| true|Finance|
+----------+------+----------+--------+-----+-------+
only showing top 20 rows

In [54]:
(
    df.filter(
    (col("Team") == "Finance") |
    (col("Team") == "Legal")   |
    (col("Team") == "Sales"))
    .groupBy("Team")
    .count()
    .show()
)

+-------+-----+
|   Team|count|
+-------+-----+
|  Sales|   94|
|Finance|  102|
|  Legal|   88|
+-------+-----+

In [55]:
df.filter(col("Team").isin("Finance", "Legal", "Sales")).show()

+----------+------+----------+--------+-----+-------+
|First Name|Gender|Start Date|  Salary| Mgmt|   Team|
+----------+------+----------+--------+-----+-------+
|     Maria|Female|      NULL|130590.0|false|Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|Finance|
|    Dennis|  Male|   4/18/87|115163.0|false|  Legal|
|      NULL|Female|   7/20/15| 45906.0| NULL|Finance|
|     Julie|Female|  10/26/97|102508.0| true|  Legal|
|      Gary|  Male|   1/27/08|109831.0|false|  Sales|
|  Kimberly|Female|   1/14/99| 41426.0| true|Finance|
|      Lois|  NULL|   4/22/95| 64714.0| true|  Legal|
|     Scott|  NULL|   7/11/91|122367.0|false|  Legal|
|  Benjamin|  Male|   1/26/05| 79529.0| true|  Legal|
|   Theresa|Female|  10/10/06| 85182.0|false|  Sales|
|   Beverly|Female|    9/9/98|121918.0|false|  Legal|
|     Roger|  Male|   4/17/80| 88010.0| true|  Sales|
|     Bruce|  Male|  11/28/09|114796.0|false|Finance|
|     Chris|  NULL|   1/24/80|113590.0|false|  Sales|
|      NULL|  NULL|  12/17/11| 41126.0| NULL|  Sales|
|      Alan|  NULL|    3/3/14| 40341.0| true|Finance|
|      Carl|  Male|    5/3/06|130276.0| true|Finance|
|    Rachel|Female|   8/16/99| 51178.0| true|Finance|
|      Jose|  Male|  10/30/04| 84834.0| true|Finance|
+----------+------+----------+--------+-----+-------+
only showing top 20 rows

In [56]:
df.filter(
    col("Salary").between(90000,100000)
).show()

+----------+------+----------+-------+-----+------------+
|First Name|Gender|Start Date| Salary| Mgmt|        Team|
+----------+------+----------+-------+-----+------------+
|    Angela|Female|  11/22/05|95570.0| true| Engineering|
|    Jeremy|  Male|   9/21/10|90370.0|false|          HR|
|    Joshua|  NULL|    3/8/12|90816.0| true|          IT|
|      John|  Male|    7/1/92|97950.0|false|          IT|
|     Jerry|  Male|   1/10/04|95734.0|false|          IT|
|   Michael|  Male|  10/10/08|99283.0| true|Distribution|
|  Clarence|  Male|   3/26/96|93581.0| true|Business Dev|
|     Nancy|Female|   9/23/00|94976.0| true| Engineering|
|   Frances|Female|    4/4/99|90582.0| true|       Sales|
|    Janice|  NULL|   8/21/97|91719.0| true|       Legal|
|     Kathy|Female|    3/9/96|91712.0|false|     Finance|
|   Rebecca|Female|   7/10/92|94231.0|false|     Product|
|      Adam|  Male|   5/21/11|95327.0|false|Distribution|
|  Patricia|Female|  11/25/92|95322.0|false|     Product|
|      Sara|Female|   9/23/91|97058.0|false|     Finance|
|      Ruth|  NULL|   5/18/99|98233.0| true|Distribution|
|   Barbara|  NULL|    5/3/03|99326.0| true|       Legal|
|      Mary|Female|   5/30/09|92544.0|false|          IT|
|   Gregory|  NULL|   6/15/92|98865.0| true|     Finance|
|     Norma|Female|   2/11/15|94393.0| true| Engineering|
+----------+------+----------+-------+-----+------------+
only showing top 20 rows

# CW 6

In [57]:
# Q2
(
    netflix
    .filter(netflix.director == "Martin Scorsese")
    .show()
)

+--------------------+---------------+----------+-----+
|               title|       director|date_added| type|
+--------------------+---------------+----------+-----+
|         Raging Bull|Martin Scorsese|2019-10-01|Movie|
|   Gangs of New York|Martin Scorsese|2019-08-20|Movie|
|        Mean Streets|Martin Scorsese|2019-07-01|Movie|
|         Taxi Driver|Martin Scorsese|2019-07-01|Movie|
|Rolling Thunder R...|Martin Scorsese|2019-06-12|Movie|
|Who's That Knocki...|Martin Scorsese|2019-07-01|Movie|
|Alice Doesn't Liv...|Martin Scorsese|2019-07-01|Movie|
|        The Irishman|Martin Scorsese|2019-11-27|Movie|
+--------------------+---------------+----------+-----+

In [58]:
# Q3
(
    netflix
    .filter((netflix.title == "Limitless") &
            (netflix.type == "Movie"))
    .show()
)

+---------+---------------+----------+-----+
|    title|       director|date_added| type|
+---------+---------------+----------+-----+
|Limitless|    Neil Burger|2019-05-16|Movie|
|Limitless|Vrinda Samartha|2019-10-01|Movie|
+---------+---------------+----------+-----+

In [59]:
# Q4
(
    netflix
    .filter((netflix.director == "Bong Joon Ho") |
            (netflix.date_added == "2018-06-15"))
    .show()
)

+--------------------+--------------------+----------+-------+
|               title|            director|date_added|   type|
+--------------------+--------------------+----------+-------+
|LEGO House - Home...|        Anders Falck|2018-06-15|  Movie|
|        Lust Stories|         Zoya Akhtar|2018-06-15|  Movie|
|Pacificum: Return...|     Mariana Tschudi|2018-06-15|  Movie|
|           Set It Up|      Claire Scanlon|2018-06-15|  Movie|
|True: Wonderful W...|                NULL|2018-06-15|TV Show|
|       The last hour|Eduardo Mendoza d...|2018-06-15|  Movie|
|True: Magical Fri...|                NULL|2018-06-15|TV Show|
|    Sunday's Illness|       RamÃ³n Salazar|2018-06-15|  Movie|
|              Maktub|            Oded Raz|2018-06-15|  Movie|
|Chronicle of an E...|Israel AdriÃ¡n Cae...|2018-06-15|  Movie|
|                Okja|        Bong Joon Ho|2017-06-28|  Movie|
|         Snowpiercer|        Bong Joon Ho|2019-05-01|  Movie|
+--------------------+--------------------+----------+-------+

In [60]:
# Q5
# Find all observations with a director of âEthan Coenâ, âJoel Coenâ, and âQuentin Tarantinoâ.

(
    netflix
    .filter(
        netflix.director.isin("Ethan Coen", "Joel Coen", "Quentin Tarantino")
    ).show()
)

+--------------------+-----------------+----------+-------+
|               title|         director|date_added|   type|
+--------------------+-----------------+----------+-------+
|       A Serious Man|       Ethan Coen|2018-01-16|  Movie|
|Inglourious Basterds|Quentin Tarantino|2019-07-22|  Movie|
|The Hateful Eight...|Quentin Tarantino|2019-04-25|TV Show|
|The Ballad of Bus...|        Joel Coen|2018-11-16|  Movie|
|   The Hateful Eight|Quentin Tarantino|2017-10-25|  Movie|
|        Pulp Fiction|Quentin Tarantino|2019-01-01|  Movie|
|        Jackie Brown|Quentin Tarantino|2019-08-01|  Movie|
+--------------------+-----------------+----------+-------+

In [61]:
# Q6
# Find all observations with a date_added value between January 1, 2019 and February 1, 2019.

(
    netflix
    .filter(
        netflix.date_added.between("2019-01-01", "2019-02-01")
    ).show()
)

+--------------------+-------------------+----------+-------+
|               title|           director|date_added|   type|
+--------------------+-------------------+----------+-------+
|          Good Girls|               NULL|2019-01-01|TV Show|
|Sebastian Manisca...|   Rik Reinholdtsen|2019-01-15|  Movie|
|       The Big Catch|               NULL|2019-02-01|TV Show|
|           Malicious|    Michael Winnick|2019-02-01|  Movie|
|         About a Boy|        Chris Weitz|2019-02-01|  Movie|
|        Echcharikkai|             Sarjun|2019-01-15|  Movie|
|             Justice|Ahmed Khaled Moussa|2019-01-21|TV Show|
|        Rudy Habibie|   Hanung Bramantyo|2019-01-28|  Movie|
|         The Monster|      Bryan Bertino|2019-01-09|  Movie|
| My Tattoo Addiction|               NULL|2019-02-01|TV Show|
|            The Pass|    Ben A. Williams|2019-01-01|  Movie|
| Up Among  The Stars|      Zoe BerriatÃºa|2019-01-29|  Movie|
|The Boy in the St...|        Mark Herman|2019-01-01|  Movie|
|LEGO Ninjago: Mas...|               NULL|2019-02-01|  Movie|
|       Komola Rocket|   Noor Imran Mithu|2019-01-07|  Movie|
|Examination of Co...|               NULL|2019-01-25|TV Show|
|      5 Cowok Jagoan|       Anggy Umbara|2019-01-05|  Movie|
|Abducted in Plain...|       Skye Borgman|2019-01-15|  Movie|
|            Innocent|         Seren YÃ¼ce|2019-01-23|TV Show|
|Catwalk: Tales fr...|       Aaron Hancox|2019-01-07|  Movie|
+--------------------+-------------------+----------+-------+
only showing top 20 rows

# missing values

In [62]:
df_notNA = df.na.drop(subset = ["Gender", "Team"])

In [63]:
df_notNA.count()

815

In [64]:
df.count()

1001

In [65]:
df.show()

+----------+------+----------+--------+-----+------------+
|First Name|Gender|Start Date|  Salary| Mgmt|        Team|
+----------+------+----------+--------+-----+------------+
|   Douglas|  Male|    8/6/93|     NaN| true|   Marketing|
|    Thomas|  Male|   3/31/96| 61933.0| true|        NULL|
|     Maria|Female|      NULL|130590.0|false|     Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|     Finance|
|     Larry|  Male|   1/24/98|101004.0| true|          IT|
|    Dennis|  Male|   4/18/87|115163.0|false|       Legal|
|      Ruby|Female|   8/17/87| 65476.0| true|     Product|
|      NULL|Female|   7/20/15| 45906.0| NULL|     Finance|
|    Angela|Female|  11/22/05| 95570.0| true| Engineering|
|   Frances|Female|    8/8/02|139852.0| true|Business Dev|
|    Louise|Female|   8/12/80| 63241.0| true|        NULL|
|     Julie|Female|  10/26/97|102508.0| true|       Legal|
|   Brandon|  Male|   12/1/80|112807.0| true|          HR|
|      Gary|  Male|   1/27/08|109831.0|false|       Sales|
|  Kimberly|Female|   1/14/99| 41426.0| true|     Finance|
|   Lillian|Female|    6/5/16| 59414.0|false|     Product|
|    Jeremy|  Male|   9/21/10| 90370.0|false|          HR|
|     Shawn|  Male|   12/7/86|111737.0|false|     Product|
|     Diana|Female|  10/23/81|132940.0|false|          IT|
|     Donna|Female|   7/22/10| 81014.0|false|     Product|
+----------+------+----------+--------+-----+------------+
only showing top 20 rows

In [68]:
df.na.fill(
    value = 0,
    subset = ["Salary"]
).show()

+----------+------+----------+--------+-----+------------+
|First Name|Gender|Start Date|  Salary| Mgmt|        Team|
+----------+------+----------+--------+-----+------------+
|   Douglas|  Male|    8/6/93|     0.0| true|   Marketing|
|    Thomas|  Male|   3/31/96| 61933.0| true|        NULL|
|     Maria|Female|      NULL|130590.0|false|     Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|     Finance|
|     Larry|  Male|   1/24/98|101004.0| true|          IT|
|    Dennis|  Male|   4/18/87|115163.0|false|       Legal|
|      Ruby|Female|   8/17/87| 65476.0| true|     Product|
|      NULL|Female|   7/20/15| 45906.0| NULL|     Finance|
|    Angela|Female|  11/22/05| 95570.0| true| Engineering|
|   Frances|Female|    8/8/02|139852.0| true|Business Dev|
|    Louise|Female|   8/12/80| 63241.0| true|        NULL|
|     Julie|Female|  10/26/97|102508.0| true|       Legal|
|   Brandon|  Male|   12/1/80|112807.0| true|          HR|
|      Gary|  Male|   1/27/08|109831.0|false|       Sales|
|  Kimberly|Female|   1/14/99| 41426.0| true|     Finance|
|   Lillian|Female|    6/5/16| 59414.0|false|     Product|
|    Jeremy|  Male|   9/21/10| 90370.0|false|          HR|
|     Shawn|  Male|   12/7/86|111737.0|false|     Product|
|     Diana|Female|  10/23/81|132940.0|false|          IT|
|     Donna|Female|   7/22/10| 81014.0|false|     Product|
+----------+------+----------+--------+-----+------------+
only showing top 20 rows

In [70]:
df.na.fill(
    {"Salary": 0,
     "Team": "Unknown"}
).show()

+----------+------+----------+--------+-----+------------+
|First Name|Gender|Start Date|  Salary| Mgmt|        Team|
+----------+------+----------+--------+-----+------------+
|   Douglas|  Male|    8/6/93|     0.0| true|   Marketing|
|    Thomas|  Male|   3/31/96| 61933.0| true|     Unknown|
|     Maria|Female|      NULL|130590.0|false|     Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|     Finance|
|     Larry|  Male|   1/24/98|101004.0| true|          IT|
|    Dennis|  Male|   4/18/87|115163.0|false|       Legal|
|      Ruby|Female|   8/17/87| 65476.0| true|     Product|
|      NULL|Female|   7/20/15| 45906.0| NULL|     Finance|
|    Angela|Female|  11/22/05| 95570.0| true| Engineering|
|   Frances|Female|    8/8/02|139852.0| true|Business Dev|
|    Louise|Female|   8/12/80| 63241.0| true|     Unknown|
|     Julie|Female|  10/26/97|102508.0| true|       Legal|
|   Brandon|  Male|   12/1/80|112807.0| true|          HR|
|      Gary|  Male|   1/27/08|109831.0|false|       Sales|
|  Kimberly|Female|   1/14/99| 41426.0| true|     Finance|
|   Lillian|Female|    6/5/16| 59414.0|false|     Product|
|    Jeremy|  Male|   9/21/10| 90370.0|false|          HR|
|     Shawn|  Male|   12/7/86|111737.0|false|     Product|
|     Diana|Female|  10/23/81|132940.0|false|          IT|
|     Donna|Female|   7/22/10| 81014.0|false|     Product|
+----------+------+----------+--------+-----+------------+
only showing top 20 rows

# CW 6.7

In [72]:
(
    netflix
    .na.drop(subset = ['director'])
    .count()

)

3936

In [73]:
netflix.count()

5837

# CW 6.8

In [77]:
# Identify the days when Netflix added only one movie to its catalog.

netflix.groupBy("date_added").count().show()

+----------+-----+
|date_added|count|
+----------+-----+
|2019-05-08|    9|
|2018-08-10|    8|
|2016-03-01|    5|
|2014-09-26|    1|
|2017-09-11|    1|
|2019-06-04|    4|
|2019-11-01|   94|
|2017-01-06|    4|
|2015-03-06|    2|
|2019-09-22|    2|
|2018-08-08|    2|
|2018-10-05|    9|
|2018-09-01|   23|
|2018-11-02|    7|
|2016-08-15|    5|
|2015-09-02|    1|
|2018-06-26|    3|
|2017-02-26|    1|
|2019-05-27|    3|
|2017-09-28|    1|
+----------+-----+
only showing top 20 rows

In [78]:
type(netflix.groupBy("date_added").count())

pyspark.sql.dataframe.DataFrame

In [81]:
netflix.printSchema()

root
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- date_added: date (nullable = true)
 |-- type: string (nullable = true)

In [82]:
(
    netflix
    .filter(col("type") == "Movie")
    .groupBy("date_added")
    .count()
    .filter(col("count") == 1)
    .count()
)

426

# Group Operations

In [83]:
food_data = [
    ("Apple", "Fruit", 1.05),
    ("Onion", "Vegie", 1.00),
    ("Orange", "Fruit", 1.25),
    ("Tomato", "Vegie", 0.85),
    ("Watermelon", "Fruit", 4.15)
]

food_df = spark.createDataFrame(food_data, ["Item", "Type", "Price"])

# Group by "Type"
groups = food_df.groupBy("Type")

In [84]:
food_df.show()

+----------+-----+-----+
|      Item| Type|Price|
+----------+-----+-----+
|     Apple|Fruit| 1.05|
|     Onion|Vegie|  1.0|
|    Orange|Fruit| 1.25|
|    Tomato|Vegie| 0.85|
|Watermelon|Fruit| 4.15|
+----------+-----+-----+

In [85]:
groups.show()

AttributeError: 'GroupedData' object has no attribute 'show'

In [86]:
type(groups)

pyspark.sql.group.GroupedData

In [88]:
groups.avg("Price").show()

+-----+----------+
| Type|avg(Price)|
+-----+----------+
|Vegie|     0.925|
|Fruit|      2.15|
+-----+----------+

In [89]:

# Calculate the sum of the Price for each Type
groups.sum("Price").show()

+-----+----------+
| Type|sum(Price)|
+-----+----------+
|Vegie|      1.85|
|Fruit|      6.45|
+-----+----------+

In [90]:

# Count how many rows in each Type
groups.count().show()

+-----+-----+
| Type|count|
+-----+-----+
|Vegie|    2|
|Fruit|    3|
+-----+-----+

In [91]:
from pyspark.sql.functions import min, max, mean

food_df.groupBy("Type").agg(
    min("Price").alias("min_price"),
    max("Price").alias("max_price"),
    mean("Price").alias("mean_price")
).show()

+-----+---------+---------+----------+
| Type|min_price|max_price|mean_price|
+-----+---------+---------+----------+
|Vegie|     0.85|      1.0|     0.925|
|Fruit|     1.05|     4.15|      2.15|
+-----+---------+---------+----------+

In [92]:
from pyspark.sql.window import Window
from pyspark.sql.functions import avg, col

# Define a window partitioned by "Type"
w = Window.partitionBy("Type")

food_df_with_mean = food_df.withColumn(
    "mean_price_by_type",
    avg(col("Price")).over(w)
)
food_df_with_mean.show()

+----------+-----+-----+------------------+
|      Item| Type|Price|mean_price_by_type|
+----------+-----+-----+------------------+
|     Apple|Fruit| 1.05|              2.15|
|    Orange|Fruit| 1.25|              2.15|
|Watermelon|Fruit| 4.15|              2.15|
|     Onion|Vegie|  1.0|             0.925|
|    Tomato|Vegie| 0.85|             0.925|
+----------+-----+-----+------------------+