<a href="https://colab.research.google.com/github/bcdanl/320-code/blob/main/danl_320_script_2025_0205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive, files
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
files.upload()

Saving ak91_age.csv to ak91_age.csv

{'ak91_age.csv': b'QoB,YoB,logW,Educ,Q4,YoBQ\r\n1,30,5.889133363,12.280405,FALSE,30\r\n1,31,5.902136132,12.54043444,FALSE,31\r\n1,32,5.899809243,12.53393117,FALSE,32\r\n1,33,5.89194606,12.67319007,FALSE,33\r\n1,34,5.895157121,12.64726291,FALSE,34\r\n1,35,5.879843227,12.65090682,FALSE,35\r\n1,36,5.884937522,12.74304199,FALSE,36\r\n1,37,5.893044611,12.8322951,FALSE,37\r\n1,38,5.894380271,12.93867708,FALSE,38\r\n1,39,5.88634301,13.00298851,FALSE,39\r\n2,30,5.898006549,12.42841829,FALSE,30.25\r\n2,31,5.900507583,12.53104532,FALSE,31.25\r\n2,32,5.900542697,12.60959876,FALSE,32.25\r\n2,33,5.90049193,12.63470681,FALSE,33.25\r\n2,34,5.892411399,12.72796733,FALSE,34.25\r\n2,35,5.8866425,12.79692577,FALSE,35.25\r\n2,36,5.886672318,12.81107615,FALSE,36.25\r\n2,37,5.888091998,12.84404791,FALSE,37.25\r\n2,38,5.904968823,13.00766329,FALSE,38.25\r\n2,39,5.90243935,13.01339858,FALSE,39.25\r\n3,30,5.909365253,12.49185967,FALSE,30.5\r\n3,31,5.911184367,12.68671679,FALSE,31.5\r\n3,32,5.910271495,12.66045001,FALSE,32.5\r\n3,33,5.91150267,12.7539518,FALSE,33.5\r\n3,34,5.906088664,12.70804815,FALSE,34.5\r\n3,35,5.908398227,12.86135123,FALSE,35.5\r\n3,36,5.911827865,12.88623383,FALSE,36.5\r\n3,37,5.906132755,12.96217212,FALSE,37.5\r\n3,38,5.905870859,12.98655426,FALSE,38.5\r\n3,39,5.887899138,12.98925953,FALSE,39.5\r\n4,30,5.914354457,12.62467549,TRUE,30.75\r\n4,31,5.910587446,12.61211956,TRUE,31.75\r\n4,32,5.89055329,12.72711156,TRUE,32.75\r\n4,33,5.902947148,12.69226743,TRUE,33.75\r\n4,34,5.907582091,12.79786839,TRUE,34.75\r\n4,35,5.896256432,12.81963928,TRUE,35.75\r\n4,36,5.909518318,12.92801508,TRUE,36.75\r\n4,37,5.903191723,12.97098161,TRUE,37.75\r\n4,38,5.910036972,13.03013161,TRUE,38.75\r\n4,39,5.905519966,13.11652902,TRUE,39.75'}

In [ ]:
pathname = "/content/ak91_age.csv"

In [ ]:
path_amzn = "/content/drive/MyDrive/lecture-data/AMZN.csv"

In [ ]:
path2 = "/content/drive/MyDrive/lecture-data/Citywide_Payroll_Data__Fiscal_Year__20240219.csv"

# PySaprk
## SparkSession

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [4]:
spark

In [5]:
path = '/content/drive/MyDrive/lecture-data/cces.csv'
df = spark.read.csv(path,
                    inferSchema=True,
                    header=True)

In [6]:
df.show()

+----------+------------------+-----+--------+----+-------+---+---+-------+------+-------+------------+----------+-------+------+----+------+----------+-----+-----+---------+--------------+--------+----------+----------+-----------+-----------+---------+-------+-------+--------+-------+-----------+---------+-----------+-----------+------------+-----------+
|thomas_num|       thomas_name|icpsr|congress|year|st_name| cd|dem|elected|female|votepct|      dwnom1|deleg_size|speaker|subchr|afam|latino|votepct_sq|power|chair|state_leg|state_leg_prof|majority|maj_leader|min_leader|    meddist|    majdist|all_bills|all_aic|all_abc|all_pass|all_law|        les|seniority|  benchmark|expectation|TotalInParty|RankInParty|
+----------+------------------+-----+--------+----+-------+---+---+-------+------+-------+------------+----------+-------+------+----+------+----------+-----+-----+---------+--------------+--------+----------+----------+-----------+-----------+---------+-------+-------+--------+-------+-----------+---------+-----------+-----------+------------+-----------+
|       1.0|     Abdnor, James|14000|      93|1973|     SD|  2|  0|   1972|     0|     55|       0.228|         6|      0|     0|   0|     0|      3025|    0|    0|        1|   0.104000002|       0|         0|         0|0.275000006|0.547500014|       22|      0|      0|       0|      0|0.109570265|        1|0.271341175|          1|         197|        132|
|       2.0|      Abzug, Bella|13001|      93|1973|     NY| 20|  1|   1970|     1|     56|-0.686999977|        39|      0|     0|   0|     0|      3136|    0|    0|        0|             0|       1|         0|         0|0.639999986|0.367499977|      136|      1|      1|       1|      1|0.762431085|        2|0.510812402|          2|         248|        119|
|       3.0|      Adams, Brock|10700|      93|1973|     WA|  7|  1|   1964|     0|     85|-0.361000001|         7|      0|     1|   0|     0|      7225|    0|    0|        0|             0|       1|         0|         0| 0.31400001|0.041500002|       37|      2|      2|       2|      1|1.236478448|        5|1.530341387|          2|         248|         88|
|       4.0|   Addabbo, Joseph|10500|      93|1973|     NY|  7|  1|   1960|     0|     75|-0.400000006|        39|      0|     1|   0|     0|      5625|    1|    0|        0|             0|       1|         0|         0|0.353000015|0.080500007|       38|      0|      0|       0|      0| 0.15505226|        7|1.584492803|          1|         248|        197|
|       6.0|   Alexander, Bill|12000|      93|1973|     AR|  1|  1|   1968|     0|    100|-0.280999988|         4|      0|     1|   0|     0|     10000|    0|    0|        0|             0|       1|         0|         0|0.233999982|0.038500011|       53|      3|      3|       2|      1|1.875050545|        3|1.476189971|          2|         248|         64|
|       8.0|   Anderson, Glenn|12001|      93|1973|     CA| 35|  1|   1968|     0|     75|-0.293000013|        43|      0|     0|   0|     0|      5625|    0|    0|        1|   0.526000023|       1|         0|         0|0.246000007|0.026499987|       87|      0|      0|       0|      0|0.446550518|        3| 0.53788811|          2|         248|        147|
|       7.0|    Anderson, John|10501|      93|1973|     IL| 16|  0|   1960|     0|     72| 0.101999998|        24|      0|     0|   0|     0|      5184|    1|    0|        0|             0|       0|         0|         1|0.149000004|0.421499997|       55|      0|      0|       0|      0|0.289430887|        7|0.433795393|          2|         197|         67|
|       9.0|      Andrews, Ike|14001|      93|1973|     NC|  4|  1|   1972|     0|     50|-0.097999997|        11|      0|     0|   0|     0|      2500|    0|    0|        1|   0.189999998|       1|         0|         0|0.050999999|0.221500009|       17|      0|      0|       0|      0|0.087862954|        1|0.483736724|          1|         248|        218|
|      10.0|     Andrews, Mark|10569|      93|1973|     ND|  1|  0|   1963|     0|     73| 0.105999999|         1|      0|     0|   0|     0|      5329|    1|    0|        0|             0|       0|         0|         0|0.152999997|0.425500005|       23|      0|      0|       0|      0|0.106469221|        6|0.406719685|          1|         197|        135|
|      11.0|   Annunzio, Frank|10703|      93|1973|     IL| 11|  1|   1964|     0|     53|-0.402999997|        24|      0|     1|   0|     0|      2809|    0|    0|        0|             0|       1|         0|         0|0.356000006|0.083499998|       53|      2|      2|       2|      1|0.627664626|        5|1.530341387|          1|         248|        129|
|      12.0|      Archer, Bill|13002|      93|1973|     TX|  7|  0|   1970|     0|     82| 0.463999987|        24|      0|     0|   0|     0|      6724|    1|    0|        1|         0.191|       0|         0|         0|0.510999978|0.783500016|       35|      0|      0|       0|      0|0.180894315|        2|0.298416883|          2|         197|        103|
|      13.0|    Arends, Leslie|  226|      93|1973|     IL| 15|  0|   1934|     0|     57| 0.296000004|        24|      0|     0|   0|     0|      3249|    0|    0|       NA|            NA|       0|         0|         1|0.342999995|0.615500033|        3|      0|      0|       0|      0|0.015505226|       20|0.785779536|          1|         197|        193|
|      14.0|Armstrong, William|14002|      93|1973|     CO|  5|  0|   1972|     0|     62| 0.441000015|         5|      0|     0|   0|     0|      3844|    0|    0|        1|   0.284000009|       0|         0|         0|0.488000005|0.760500014|       11|      1|      1|       1|      1|0.137053624|        1|0.271341175|          2|         197|        126|
|      15.0|    Ashbrook, John|10502|      93|1973|     OH| 17|  0|   1960|     0|     57| 0.601000011|        23|      0|     0|   0|     0|      3249|    0|    0|        1|   0.354999989|       0|         0|         0|0.648000002| 0.92050004|       34|      0|      0|       0|      0|0.171591178|        7|0.433795393|          1|         197|        108|
|      16.0|    Ashley, Thomas|  267|      93|1973|     OH|  9|  1|   1954|     0|     69|-0.328999996|        23|      0|     1|   0|     0|      4761|    0|    0|        0|             0|       1|         0|         0|0.282000005|0.009499996|       28|      5|      5|       5|      2|3.763123989|       10|1.665719867|          3|         248|         26|
|      17.0|        Aspin, Les|13003|      93|1973|     WI|  1|  1|   1970|     0|     64|-0.381999999|         9|      0|     0|   0|     0|      4096|    0|    0|        0|             0|       1|         0|         0|0.335000008|     0.0625|       93|      0|      0|       0|      0|0.472392559|        2|0.510812402|          2|         248|        146|
|      18.0|   Badillo, Herman|13004|      93|1973|     NY| 21|  1|   1970|     0|     87|-0.619000018|        39|      0|     0|   0|     1|      7569|    0|    0|        0|             0|       1|         0|         0|0.572000027|0.299500018|       42|      0|      0|       0|      0|0.212938443|        2|0.510812402|          1|         248|        183|
|      19.0|       Bafalis, L.|14003|      93|1973|     FL| 10|  0|   1972|     0|     62| 0.293000013|        15|      0|     0|   0|     0|      3844|    0|    0|        1|   0.224000007|       0|         0|         0|0.340000004|0.612500012|       10|      0|      0|       0|      0|0.051684089|        1|0.271341175|          1|         197|        172|
|      20.0|      Baker, LaMar|13005|      93|1973|     TN|  3|  0|   1970|     0|     55| 0.338999987|         8|      0|     0|   0|     0|      3025|    0|    0|        1|   0.149000004|       0|         0|         0|0.385999978|0.658500016|       35|      2|      2|       1|      1|0.818845809|        2|0.298416883|          3|         197|         26|
|      21.0|  Barrett, William|  465|      93|1973|     PA|  1|  1|   1948|     0|     66|-0.476999998|        25|      0|     1|   0|     0|      4356|    0|    0|        0|             0|       1|         0|         0|0.430000007|0.157499999|       28|      2|      2|       2|      1|1.654023051|       13| 1.74694705|          2|         248|         72|
+----------+------------------+-----+--------+----+-------+---+---+-------+------+-------+------------+----------+-------+------+----+------+----------+-----+-----+---------+--------------+--------+----------+----------+-----------+-----------+---------+-------+-------+--------+-------+-----------+---------+-----------+-----------+------------+-----------+
only showing top 20 rows

In [7]:
type(df)

pyspark.sql.dataframe.DataFrame

In [8]:
path = 'https://bcdanl.github.io/data/dominick_oj.csv'
df = spark.read.csv(path,
                    inferSchema=True,
                    header=True)
df.show()

UnsupportedOperationException: None

In [9]:
path = 'https://bcdanl.github.io/data/dominick_oj.csv'

import pandas as pd
df_oj = pd.read_csv(path)
df_oj

         sales  price      brand  ad
0       8256.0   3.87  tropicana   0
1       6144.0   3.87  tropicana   0
2       3840.0   3.87  tropicana   0
3       8000.0   3.87  tropicana   0
4       8896.0   3.87  tropicana   0
...        ...    ...        ...  ..
28942   2944.0   2.00  dominicks   0
28943   4928.0   1.94  dominicks   0
28944  13440.0   1.59  dominicks   0
28945  55680.0   1.49  dominicks   0
28946   7040.0   1.75  dominicks   0

[28947 rows x 4 columns]

In [10]:
spark_df = spark.createDataFrame(df_oj)

In [11]:
spark_df

DataFrame[sales: double, price: double, brand: string, ad: bigint]

In [12]:
spark_df.show()

+-------+-----+---------+---+
|  sales|price|    brand| ad|
+-------+-----+---------+---+
| 8256.0| 3.87|tropicana|  0|
| 6144.0| 3.87|tropicana|  0|
| 3840.0| 3.87|tropicana|  0|
| 8000.0| 3.87|tropicana|  0|
| 8896.0| 3.87|tropicana|  0|
| 7168.0| 3.87|tropicana|  0|
|10880.0| 3.29|tropicana|  0|
| 7744.0| 3.29|tropicana|  0|
| 8512.0| 3.29|tropicana|  0|
| 5504.0| 3.29|tropicana|  0|
| 5888.0| 3.56|tropicana|  0|
| 8384.0| 3.56|tropicana|  0|
| 5952.0| 3.56|tropicana|  0|
| 6848.0| 3.56|tropicana|  0|
| 9216.0| 3.87|tropicana|  0|
|12160.0| 2.99|tropicana|  0|
|12672.0| 2.99|tropicana|  0|
| 6528.0| 3.59|tropicana|  0|
| 6144.0| 3.59|tropicana|  0|
|21120.0| 2.39|tropicana|  0|
+-------+-----+---------+---+
only showing top 20 rows

In [13]:
spark_df.show(5)

+------+-----+---------+---+
| sales|price|    brand| ad|
+------+-----+---------+---+
|8256.0| 3.87|tropicana|  0|
|6144.0| 3.87|tropicana|  0|
|3840.0| 3.87|tropicana|  0|
|8000.0| 3.87|tropicana|  0|
|8896.0| 3.87|tropicana|  0|
+------+-----+---------+---+
only showing top 5 rows

In [14]:
spark_df.show(vertical=True)

-RECORD 0----------
 sales | 8256.0
 price | 3.87
 brand | tropicana
 ad    | 0
-RECORD 1----------
 sales | 6144.0
 price | 3.87
 brand | tropicana
 ad    | 0
-RECORD 2----------
 sales | 3840.0
 price | 3.87
 brand | tropicana
 ad    | 0
-RECORD 3----------
 sales | 8000.0
 price | 3.87
 brand | tropicana
 ad    | 0
-RECORD 4----------
 sales | 8896.0
 price | 3.87
 brand | tropicana
 ad    | 0
-RECORD 5----------
 sales | 7168.0
 price | 3.87
 brand | tropicana
 ad    | 0
-RECORD 6----------
 sales | 10880.0
 price | 3.29
 brand | tropicana
 ad    | 0
-RECORD 7----------
 sales | 7744.0
 price | 3.29
 brand | tropicana
 ad    | 0
-RECORD 8----------
 sales | 8512.0
 price | 3.29
 brand | tropicana
 ad    | 0
-RECORD 9----------
 sales | 5504.0
 price | 3.29
 brand | tropicana
 ad    | 0
-RECORD 10---------
 sales | 5888.0
 price | 3.56
 brand | tropicana
 ad    | 0
-RECORD 11---------
 sales | 8384.0
 price | 3.56
 brand | tropicana
 ad    | 0
-RECORD 12---------
 sales | 5952.0
 price | 3.56
 brand | tropicana
 ad    | 0
-RECORD 13---------
 sales | 6848.0
 price | 3.56
 brand | tropicana
 ad    | 0
-RECORD 14---------
 sales | 9216.0
 price | 3.87
 brand | tropicana
 ad    | 0
-RECORD 15---------
 sales | 12160.0
 price | 2.99
 brand | tropicana
 ad    | 0
-RECORD 16---------
 sales | 12672.0
 price | 2.99
 brand | tropicana
 ad    | 0
-RECORD 17---------
 sales | 6528.0
 price | 3.59
 brand | tropicana
 ad    | 0
-RECORD 18---------
 sales | 6144.0
 price | 3.59
 brand | tropicana
 ad    | 0
-RECORD 19---------
 sales | 21120.0
 price | 2.39
 brand | tropicana
 ad    | 0
only showing top 20 rows

In [15]:
df.printSchema()

root
 |-- thomas_num: double (nullable = true)
 |-- thomas_name: string (nullable = true)
 |-- icpsr: string (nullable = true)
 |-- congress: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- st_name: string (nullable = true)
 |-- cd: string (nullable = true)
 |-- dem: integer (nullable = true)
 |-- elected: integer (nullable = true)
 |-- female: integer (nullable = true)
 |-- votepct: string (nullable = true)
 |-- dwnom1: string (nullable = true)
 |-- deleg_size: string (nullable = true)
 |-- speaker: integer (nullable = true)
 |-- subchr: integer (nullable = true)
 |-- afam: integer (nullable = true)
 |-- latino: integer (nullable = true)
 |-- votepct_sq: string (nullable = true)
 |-- power: string (nullable = true)
 |-- chair: integer (nullable = true)
 |-- state_leg: string (nullable = true)
 |-- state_leg_prof: string (nullable = true)
 |-- majority: integer (nullable = true)
 |-- maj_leader: string (nullable = true)
 |-- min_leader: string (nullable = true)
 |-- meddist: string (nullable = true)
 |-- majdist: string (nullable = true)
 |-- all_bills: integer (nullable = true)
 |-- all_aic: integer (nullable = true)
 |-- all_abc: integer (nullable = true)
 |-- all_pass: integer (nullable = true)
 |-- all_law: integer (nullable = true)
 |-- les: double (nullable = true)
 |-- seniority: integer (nullable = true)
 |-- benchmark: double (nullable = true)
 |-- expectation: integer (nullable = true)
 |-- TotalInParty: integer (nullable = true)
 |-- RankInParty: integer (nullable = true)

In [16]:
spark_df.printSchema()

root
 |-- sales: double (nullable = true)
 |-- price: double (nullable = true)
 |-- brand: string (nullable = true)
 |-- ad: long (nullable = true)

In [17]:
spark_df.dtypes

[('sales', 'double'),
 ('price', 'double'),
 ('brand', 'string'),
 ('ad', 'bigint')]

In [18]:
# pandas DataFrame
df_oj.dtypes

sales    float64
price    float64
brand     object
ad         int64
dtype: object

In [19]:
# pandas DataFrame
df_oj.describe()

               sales         price            ad
count   28947.000000  28947.000000  28947.000000
mean    17312.213356      2.282488      0.237261
std     27477.660437      0.648001      0.425411
min        64.000000      0.520000      0.000000
25%      4864.000000      1.790000      0.000000
50%      8384.000000      2.170000      0.000000
75%     17408.000000      2.730000      0.000000
max    716416.000100      3.870000      1.000000

In [20]:
# spark DataFrame
spark_df.describe()

DataFrame[summary: string, sales: string, price: string, brand: string, ad: string]

In [21]:
spark_df.describe().show()

+-------+------------------+------------------+---------+-------------------+
|summary|             sales|             price|    brand|                 ad|
+-------+------------------+------------------+---------+-------------------+
|  count|             28947|             28947|    28947|              28947|
|   mean|17312.213355532807|2.2824879953018553|     NULL|0.23726120150620097|
| stddev|27477.660437204635|0.6480007152143781|     NULL| 0.4254110667279149|
|    min|              64.0|              0.52|dominicks|                  0|
|    max|       716416.0001|              3.87|tropicana|                  1|
+-------+------------------+------------------+---------+-------------------+

# Optional

## Installing Java and PySpark on Google Colab

In [22]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [23]:
!wget -q https://downloads.apache.org/spark/spark-3.5.4/spark-3.5.4-bin-hadoop3.tgz

In [24]:
!tar xf spark-3.5.4-bin-hadoop3.tgz

In [25]:
!pip install -q findspark

In [26]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.4-bin-hadoop3"

In [27]:
import findspark
findspark.init()

In [28]:
findspark.find()

'/content/spark-3.5.4-bin-hadoop3'