<a href="https://colab.research.google.com/github/bcdanl/320-code/blob/main/danl320_script_2025_0210.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [2]:
import pandas as pd
df_pd = pd.read_csv('https://bcdanl.github.io/data/nba.csv')
df = spark.createDataFrame(df_pd)

In [3]:
df_pd

               Name                 Team Position  Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG   9/26/96   1445697
1    Christian Wood      Detroit Pistons       PF   9/27/95   1645357
2     PJ Washington    Charlotte Hornets       PF   8/23/98   3831840
3      Derrick Rose      Detroit Pistons       PG   10/4/88   7317074
4     Marial Shayok   Philadelphia 76ers        G   7/26/95     79568
..              ...                  ...      ...       ...       ...
445   Austin Rivers      Houston Rockets       PG    8/1/92   2174310
446     Harry Giles     Sacramento Kings       PF   4/22/98   2578800
447     Robin Lopez      Milwaukee Bucks        C    4/1/88   4767000
448   Collin Sexton  Cleveland Cavaliers       PG    1/4/99   4764960
449     Ricky Rubio         Phoenix Suns       PG  10/21/90  16200000

[450 rows x 5 columns]

In [5]:
df.show()

+---------------+--------------------+--------+--------+--------+
|           Name|                Team|Position|Birthday|  Salary|
+---------------+--------------------+--------+--------+--------+
|   Shake Milton|  Philadelphia 76ers|      SG| 9/26/96| 1445697|
| Christian Wood|     Detroit Pistons|      PF| 9/27/95| 1645357|
|  PJ Washington|   Charlotte Hornets|      PF| 8/23/98| 3831840|
|   Derrick Rose|     Detroit Pistons|      PG| 10/4/88| 7317074|
|  Marial Shayok|  Philadelphia 76ers|       G| 7/26/95|   79568|
| Draymond Green|Golden State Warr...|      PF|  3/4/90|18539130|
|  Kendrick Nunn|          Miami Heat|      SG|  8/3/95| 1416852|
|     Cedi Osman| Cleveland Cavaliers|      SF|  4/8/95| 2907143|
|    Brook Lopez|     Milwaukee Bucks|       C|  4/1/88|12093024|
|   Torrey Craig|      Denver Nuggets|      SF|12/19/90| 2000000|
|Jordan Clarkson| Cleveland Cavaliers|      PG|  6/7/92|13437500|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2/28/94| 2750000|
|   Norvel Pelle|  Philadelphia 76ers|      FC|  2/3/93|   79568|
|  Tyler Johnson|        Phoenix Suns|      PG|  5/7/92|19245370|
|     Alec Burks|Golden State Warr...|      SG| 7/20/91| 2320044|
| JaMychal Green|Los Angeles Clippers|      PF| 6/21/90| 4767000|
|  Dwight Howard|  Los Angeles Lakers|       C| 12/8/85| 5603850|
|   Nikola Jokic|      Denver Nuggets|       C| 2/19/95|27504630|
|  Chris Boucher|     Toronto Raptors|      PF| 1/11/93| 1588231|
|  Marcus Morris|     New York Knicks|      PF|  9/2/89|15000000|
+---------------+--------------------+--------+--------+--------+
only showing top 20 rows

In [6]:
df.show(truncate = False)

+---------------+---------------------+--------+--------+--------+
|Name           |Team                 |Position|Birthday|Salary  |
+---------------+---------------------+--------+--------+--------+
|Shake Milton   |Philadelphia 76ers   |SG      |9/26/96 |1445697 |
|Christian Wood |Detroit Pistons      |PF      |9/27/95 |1645357 |
|PJ Washington  |Charlotte Hornets    |PF      |8/23/98 |3831840 |
|Derrick Rose   |Detroit Pistons      |PG      |10/4/88 |7317074 |
|Marial Shayok  |Philadelphia 76ers   |G       |7/26/95 |79568   |
|Draymond Green |Golden State Warriors|PF      |3/4/90  |18539130|
|Kendrick Nunn  |Miami Heat           |SG      |8/3/95  |1416852 |
|Cedi Osman     |Cleveland Cavaliers  |SF      |4/8/95  |2907143 |
|Brook Lopez    |Milwaukee Bucks      |C       |4/1/88  |12093024|
|Torrey Craig   |Denver Nuggets       |SF      |12/19/90|2000000 |
|Jordan Clarkson|Cleveland Cavaliers  |PG      |6/7/92  |13437500|
|Alex Caruso    |Los Angeles Lakers   |PG      |2/28/94 |2750000 |
|Norvel Pelle   |Philadelphia 76ers   |FC      |2/3/93  |79568   |
|Tyler Johnson  |Phoenix Suns         |PG      |5/7/92  |19245370|
|Alec Burks     |Golden State Warriors|SG      |7/20/91 |2320044 |
|JaMychal Green |Los Angeles Clippers |PF      |6/21/90 |4767000 |
|Dwight Howard  |Los Angeles Lakers   |C       |12/8/85 |5603850 |
|Nikola Jokic   |Denver Nuggets       |C       |2/19/95 |27504630|
|Chris Boucher  |Toronto Raptors      |PF      |1/11/93 |1588231 |
|Marcus Morris  |New York Knicks      |PF      |9/2/89  |15000000|
+---------------+---------------------+--------+--------+--------+
only showing top 20 rows

In [8]:
df.show(truncate= False)

+---------------+---------------------+--------+--------+--------+
|Name           |Team                 |Position|Birthday|Salary  |
+---------------+---------------------+--------+--------+--------+
|Shake Milton   |Philadelphia 76ers   |SG      |9/26/96 |1445697 |
|Christian Wood |Detroit Pistons      |PF      |9/27/95 |1645357 |
|PJ Washington  |Charlotte Hornets    |PF      |8/23/98 |3831840 |
|Derrick Rose   |Detroit Pistons      |PG      |10/4/88 |7317074 |
|Marial Shayok  |Philadelphia 76ers   |G       |7/26/95 |79568   |
|Draymond Green |Golden State Warriors|PF      |3/4/90  |18539130|
|Kendrick Nunn  |Miami Heat           |SG      |8/3/95  |1416852 |
|Cedi Osman     |Cleveland Cavaliers  |SF      |4/8/95  |2907143 |
|Brook Lopez    |Milwaukee Bucks      |C       |4/1/88  |12093024|
|Torrey Craig   |Denver Nuggets       |SF      |12/19/90|2000000 |
|Jordan Clarkson|Cleveland Cavaliers  |PG      |6/7/92  |13437500|
|Alex Caruso    |Los Angeles Lakers   |PG      |2/28/94 |2750000 |
|Norvel Pelle   |Philadelphia 76ers   |FC      |2/3/93  |79568   |
|Tyler Johnson  |Phoenix Suns         |PG      |5/7/92  |19245370|
|Alec Burks     |Golden State Warriors|SG      |7/20/91 |2320044 |
|JaMychal Green |Los Angeles Clippers |PF      |6/21/90 |4767000 |
|Dwight Howard  |Los Angeles Lakers   |C       |12/8/85 |5603850 |
|Nikola Jokic   |Denver Nuggets       |C       |2/19/95 |27504630|
|Chris Boucher  |Toronto Raptors      |PF      |1/11/93 |1588231 |
|Marcus Morris  |New York Knicks      |PF      |9/2/89  |15000000|
+---------------+---------------------+--------+--------+--------+
only showing top 20 rows

In [9]:
df.show(truncate= 3)

+----+----+--------+--------+------+
|Name|Team|Position|Birthday|Salary|
+----+----+--------+--------+------+
| Sha| Phi|      SG|     9/2|   144|
| Chr| Det|      PF|     9/2|   164|
| PJ | Cha|      PF|     8/2|   383|
| Der| Det|      PG|     10/|   731|
| Mar| Phi|       G|     7/2|   795|
| Dra| Gol|      PF|     3/4|   185|
| Ken| Mia|      SG|     8/3|   141|
| Ced| Cle|      SF|     4/8|   290|
| Bro| Mil|       C|     4/1|   120|
| Tor| Den|      SF|     12/|   200|
| Jor| Cle|      PG|     6/7|   134|
| Ale| Los|      PG|     2/2|   275|
| Nor| Phi|      FC|     2/3|   795|
| Tyl| Pho|      PG|     5/7|   192|
| Ale| Gol|      SG|     7/2|   232|
| JaM| Los|      PF|     6/2|   476|
| Dwi| Los|       C|     12/|   560|
| Nik| Den|       C|     2/1|   275|
| Chr| Tor|      PF|     1/1|   158|
| Mar| New|      PF|     9/2|   150|
+----+----+--------+--------+------+
only showing top 20 rows

In [10]:
df.show(vertical = True)

-RECORD 0------------------------
 Name     | Shake Milton
 Team     | Philadelphia 76ers
 Position | SG
 Birthday | 9/26/96
 Salary   | 1445697
-RECORD 1------------------------
 Name     | Christian Wood
 Team     | Detroit Pistons
 Position | PF
 Birthday | 9/27/95
 Salary   | 1645357
-RECORD 2------------------------
 Name     | PJ Washington
 Team     | Charlotte Hornets
 Position | PF
 Birthday | 8/23/98
 Salary   | 3831840
-RECORD 3------------------------
 Name     | Derrick Rose
 Team     | Detroit Pistons
 Position | PG
 Birthday | 10/4/88
 Salary   | 7317074
-RECORD 4------------------------
 Name     | Marial Shayok
 Team     | Philadelphia 76ers
 Position | G
 Birthday | 7/26/95
 Salary   | 79568
-RECORD 5------------------------
 Name     | Draymond Green
 Team     | Golden State Warr...
 Position | PF
 Birthday | 3/4/90
 Salary   | 18539130
-RECORD 6------------------------
 Name     | Kendrick Nunn
 Team     | Miami Heat
 Position | SG
 Birthday | 8/3/95
 Salary   | 1416852
-RECORD 7------------------------
 Name     | Cedi Osman
 Team     | Cleveland Cavaliers
 Position | SF
 Birthday | 4/8/95
 Salary   | 2907143
-RECORD 8------------------------
 Name     | Brook Lopez
 Team     | Milwaukee Bucks
 Position | C
 Birthday | 4/1/88
 Salary   | 12093024
-RECORD 9------------------------
 Name     | Torrey Craig
 Team     | Denver Nuggets
 Position | SF
 Birthday | 12/19/90
 Salary   | 2000000
-RECORD 10-----------------------
 Name     | Jordan Clarkson
 Team     | Cleveland Cavaliers
 Position | PG
 Birthday | 6/7/92
 Salary   | 13437500
-RECORD 11-----------------------
 Name     | Alex Caruso
 Team     | Los Angeles Lakers
 Position | PG
 Birthday | 2/28/94
 Salary   | 2750000
-RECORD 12-----------------------
 Name     | Norvel Pelle
 Team     | Philadelphia 76ers
 Position | FC
 Birthday | 2/3/93
 Salary   | 79568
-RECORD 13-----------------------
 Name     | Tyler Johnson
 Team     | Phoenix Suns
 Position | PG
 Birthday | 5/7/92
 Salary   | 19245370
-RECORD 14-----------------------
 Name     | Alec Burks
 Team     | Golden State Warr...
 Position | SG
 Birthday | 7/20/91
 Salary   | 2320044
-RECORD 15-----------------------
 Name     | JaMychal Green
 Team     | Los Angeles Clippers
 Position | PF
 Birthday | 6/21/90
 Salary   | 4767000
-RECORD 16-----------------------
 Name     | Dwight Howard
 Team     | Los Angeles Lakers
 Position | C
 Birthday | 12/8/85
 Salary   | 5603850
-RECORD 17-----------------------
 Name     | Nikola Jokic
 Team     | Denver Nuggets
 Position | C
 Birthday | 2/19/95
 Salary   | 27504630
-RECORD 18-----------------------
 Name     | Chris Boucher
 Team     | Toronto Raptors
 Position | PF
 Birthday | 1/11/93
 Salary   | 1588231
-RECORD 19-----------------------
 Name     | Marcus Morris
 Team     | New York Knicks
 Position | PF
 Birthday | 9/2/89
 Salary   | 15000000
only showing top 20 rows

In [11]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Birthday: string (nullable = true)
 |-- Salary: long (nullable = true)

In [12]:
df.dtypes

[('Name', 'string'),
 ('Team', 'string'),
 ('Position', 'string'),
 ('Birthday', 'string'),
 ('Salary', 'bigint')]

In [13]:
df.columns

['Name', 'Team', 'Position', 'Birthday', 'Salary']

In [14]:
df.describe().show()

+-------+--------------+------------------+--------+--------+-----------------+
|summary|          Name|              Team|Position|Birthday|           Salary|
+-------+--------------+------------------+--------+--------+-----------------+
|  count|           450|               450|     450|     450|              450|
|   mean|          NULL|              NULL|    NULL|    NULL|7653583.764444444|
| stddev|          NULL|              NULL|    NULL|    NULL|9288810.298497688|
|    min|  Aaron Gordon|     Atlanta Hawks|       C| 1/10/98|            79568|
|    max|Zylan Cheatham|Washington Wizards|      SG|  9/9/93|         40231758|
+-------+--------------+------------------+--------+--------+-----------------+

In [16]:
df_pd.describe(include="all") # pandas

                Name                Team Position Birthday        Salary
count            450                 450      450      450  4.500000e+02
unique           450                  30        9      430           NaN
top     Shake Milton  Philadelphia 76ers       PG  9/28/95           NaN
freq               1                  17       98        3           NaN
mean             NaN                 NaN      NaN      NaN  7.653584e+06
std              NaN                 NaN      NaN      NaN  9.288810e+06
min              NaN                 NaN      NaN      NaN  7.956800e+04
25%              NaN                 NaN      NaN      NaN  1.618520e+06
50%              NaN                 NaN      NaN      NaN  3.303074e+06
75%              NaN                 NaN      NaN      NaN  1.012957e+07
max              NaN                 NaN      NaN      NaN  4.023176e+07

# select

In [18]:
df.select("Name").show()

+---------------+
|           Name|
+---------------+
|   Shake Milton|
| Christian Wood|
|  PJ Washington|
|   Derrick Rose|
|  Marial Shayok|
| Draymond Green|
|  Kendrick Nunn|
|     Cedi Osman|
|    Brook Lopez|
|   Torrey Craig|
|Jordan Clarkson|
|    Alex Caruso|
|   Norvel Pelle|
|  Tyler Johnson|
|     Alec Burks|
| JaMychal Green|
|  Dwight Howard|
|   Nikola Jokic|
|  Chris Boucher|
|  Marcus Morris|
+---------------+
only showing top 20 rows

In [20]:
df.select("Name", "Birthday").show()

+---------------+--------+
|           Name|Birthday|
+---------------+--------+
|   Shake Milton| 9/26/96|
| Christian Wood| 9/27/95|
|  PJ Washington| 8/23/98|
|   Derrick Rose| 10/4/88|
|  Marial Shayok| 7/26/95|
| Draymond Green|  3/4/90|
|  Kendrick Nunn|  8/3/95|
|     Cedi Osman|  4/8/95|
|    Brook Lopez|  4/1/88|
|   Torrey Craig|12/19/90|
|Jordan Clarkson|  6/7/92|
|    Alex Caruso| 2/28/94|
|   Norvel Pelle|  2/3/93|
|  Tyler Johnson|  5/7/92|
|     Alec Burks| 7/20/91|
| JaMychal Green| 6/21/90|
|  Dwight Howard| 12/8/85|
|   Nikola Jokic| 2/19/95|
|  Chris Boucher| 1/11/93|
|  Marcus Morris|  9/2/89|
+---------------+--------+
only showing top 20 rows

# Count

In [22]:
df.count()
type(df.count())

int

In [23]:

from pyspark.sql.functions import countDistinct
num_teams = df.select(countDistinct("Team"))

In [25]:
num_teams.show()

+--------------------+
|count(DISTINCT Team)|
+--------------------+
|                  30|
+--------------------+

In [26]:
num_teams.collect()[0]

Row(count(DISTINCT Team)=30)

In [27]:
num_teams.collect()[0][0]

30

In [30]:
df.groupBy("Team").count().show(30)

+--------------------+-----+
|                Team|count|
+--------------------+-----+
|        Phoenix Suns|   15|
|      Boston Celtics|   16|
|    Dallas Mavericks|   13|
|New Orleans Pelicans|   16|
|       Brooklyn Nets|   17|
|     New York Knicks|   16|
|Minnesota Timberw...|   17|
|   Memphis Grizzlies|   15|
|  Los Angeles Lakers|   16|
|Golden State Warr...|   15|
|       Orlando Magic|   13|
|Los Angeles Clippers|   14|
|     Detroit Pistons|   16|
|       Chicago Bulls|   16|
|     Milwaukee Bucks|   14|
| Cleveland Cavaliers|   13|
|      Indiana Pacers|   13|
|  Washington Wizards|   14|
|       Atlanta Hawks|   15|
|           Utah Jazz|   17|
|   Charlotte Hornets|   16|
|  Philadelphia 76ers|   17|
|     Toronto Raptors|   16|
|Portland Trail Bl...|   14|
|   San Antonio Spurs|   14|
|Oklahoma City Thu...|   13|
|     Houston Rockets|   14|
|    Sacramento Kings|   15|
|          Miami Heat|   15|
|      Denver Nuggets|   15|
+--------------------+-----+

# CW 5.1

In [31]:
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
nfl_pd = pd.read_csv('https://bcdanl.github.io/data/nfl.csv')
nfl = spark.createDataFrame(nfl_pd)
nfl.show()

+----------------+--------------------+--------+----------+--------+
|            Name|                Team|Position|  Birthday|  Salary|
+----------------+--------------------+--------+----------+--------+
|    Tremon Smith| Philadelphia Eagles|      RB| 7/20/1996|  570000|
|  Shawn Williams|  Cincinnati Bengals|      SS| 5/13/1991| 3500000|
|     Adam Butler|New England Patriots|      DT| 4/12/1994|  645000|
|     Derek Wolfe|      Denver Broncos|      DE| 2/24/1990| 8000000|
|       Jake Ryan|Jacksonville Jaguars|     OLB| 2/27/1992| 1000000|
| Ezekiel Elliott|      Dallas Cowboys|      RB| 7/22/1995| 3853137|
|    John Jenkins|      Miami Dolphins|      DE| 7/11/1989|  805000|
|  Andrew Wingard|Jacksonville Jaguars|      FS| 12/5/1996|  495000|
|      John Jerry|  Cincinnati Bengals|      OT| 6/14/1986|  930000|
|    Matt Barkley|       Buffalo Bills|      QB|  9/8/1990| 1250000|
|     Josh Harris|     Atlanta Falcons|      LS| 4/27/1989|  930000|
|  Adarius Taylor|    Cleveland Browns|     OLB| 9/21/1990| 1350000|
| Olabisi Johnson|   Minnesota Vikings|      WR| 3/17/1997|  647500|
|    Andrew Adams|Tampa Bay Buccaneers|      SS|10/28/1992|  720000|
|    Forrest Lamp|Los Angeles Chargers|       G| 2/20/1994| 1071084|
|   Ryan Kerrigan| Washington Redskins|     OLB| 8/16/1988|10500000|
|    Robert Davis| Philadelphia Eagles|      WR|  4/2/1995|  570000|
|     Kevin Byard|    Tennessee Titans|      FS| 8/17/1993| 2025000|
|   Pat O'Donnell|       Chicago Bears|       P| 2/22/1991| 1250000|
|Barkevious Mingo|      Houston Texans|     OLB| 10/4/1990| 3400000|
+----------------+--------------------+--------+----------+--------+
only showing top 20 rows

# CW 5.2
- How many observations are in nfl?
- What are the mean, standard deviation, minimum, and maximum of Salary in nfl?

In [32]:
nfl.count()

1655

In [34]:
nfl.select("Salary").describe().show()

+-------+-----------------+
|summary|           Salary|
+-------+-----------------+
|  count|             1655|
|   mean|1861569.044712991|
| stddev| 2748518.89575669|
|    min|           378000|
|    max|         27500000|
+-------+-----------------+

# CW 5.3

- How can we count the number of players per team in nfl?
- How many unique teams are in nfl?

In [37]:
nfl.groupBy("Team").count().show(32)

+--------------------+-----+
|                Team|count|
+--------------------+-----+
|    Tennessee Titans|   46|
|      Houston Texans|   52|
| San Francisco 49Ers|   55|
|Jacksonville Jaguars|   50|
|   Arizona Cardinals|   51|
|Tampa Bay Buccaneers|   47|
|New England Patriots|   49|
|       Buffalo Bills|   53|
|  Kansas City Chiefs|   56|
| Philadelphia Eagles|   52|
|  Indianapolis Colts|   49|
|    Cleveland Browns|   49|
|       New York Jets|   58|
|      Miami Dolphins|   49|
|       Chicago Bears|   53|
|     Oakland Raiders|   51|
|     Atlanta Falcons|   53|
|   Green Bay Packers|   51|
|   Carolina Panthers|   49|
|      Denver Broncos|   54|
|      Dallas Cowboys|   53|
|Los Angeles Chargers|   54|
|  New Orleans Saints|   55|
| Washington Redskins|   56|
|       Detroit Lions|   53|
|    Seattle Seahawks|   53|
|    Los Angeles Rams|   52|
|    Baltimore Ravens|   48|
| Pittsburgh Steelers|   47|
|   Minnesota Vikings|   54|
|  Cincinnati Bengals|   51|
|     New York Giants|   52|
+--------------------+-----+

In [38]:
from pyspark.sql.functions import countDistinct
num_teams = nfl.select(countDistinct("Team")).collect()[0][0]
num_teams

32

In [39]:
nfl.groupBy("Team").count()

DataFrame[Team: string, count: bigint]

In [40]:
nfl.groupBy("Team").count().count()

32

# Sorting

In [42]:
df.orderBy("Name").show()

+-----------------+--------------------+--------+--------+--------+
|             Name|                Team|Position|Birthday|  Salary|
+-----------------+--------------------+--------+--------+--------+
|     Aaron Gordon|       Orlando Magic|      PF| 9/16/95|19863636|
|    Aaron Holiday|      Indiana Pacers|      PG| 9/30/96| 2239200|
|      Abdel Nader|Oklahoma City Thu...|      SF| 9/25/93| 1618520|
|      Adam Mokoka|       Chicago Bulls|       G| 7/18/98|   79568|
|Admiral Schofield|  Washington Wizards|      SF| 3/30/97| 1000000|
|       Al Horford|  Philadelphia 76ers|       C|  6/3/86|28000000|
|  Al-Farouq Aminu|       Orlando Magic|      PF| 9/21/90| 9258000|
|       Alec Burks|Golden State Warr...|      SG| 7/20/91| 2320044|
|      Alex Caruso|  Los Angeles Lakers|      PG| 2/28/94| 2750000|
|         Alex Len|       Atlanta Hawks|       C| 6/16/93| 4160000|
| Alfonzo McKinnie| Cleveland Cavaliers|      SF| 9/17/92| 1588231|
|    Alize Johnson|      Indiana Pacers|      PF| 4/22/96| 1416852|
|     Allen Crabbe|       Atlanta Hawks|      SG|  4/9/92|18500000|
|    Allonzo Trier|     New York Knicks|      PG| 1/17/96| 3551100|
|  Amile Jefferson|       Orlando Magic|      PF|  5/7/93| 1339515|
|      Amir Coffey|Los Angeles Clippers|       G| 6/17/97|   79568|
|   Andre Drummond|     Detroit Pistons|       C| 8/10/93|27093018|
|   Andre Iguodala|   Memphis Grizzlies|      SF| 1/28/84|17185185|
|   Andre Roberson|Oklahoma City Thu...|      SF| 12/4/91|10740740|
|   Andrew Wiggins|Minnesota Timberw...|      SF| 2/23/95|27504630|
+-----------------+--------------------+--------+--------+--------+
only showing top 20 rows

In [43]:
from pyspark.sql.functions import desc
df.orderBy(desc("Salary")).show(5)

+-----------------+--------------------+--------+--------+--------+
|             Name|                Team|Position|Birthday|  Salary|
+-----------------+--------------------+--------+--------+--------+
|    Stephen Curry|Golden State Warr...|      PG| 3/14/88|40231758|
|Russell Westbrook|     Houston Rockets|      PG|11/12/88|38506482|
|       Chris Paul|Oklahoma City Thu...|      PG|  5/6/85|38506482|
|        John Wall|  Washington Wizards|      PG|  9/6/90|38199000|
|     James Harden|     Houston Rockets|      PG| 8/26/89|38199000|
+-----------------+--------------------+--------+--------+--------+
only showing top 5 rows

In [44]:
df.orderBy(["Team", desc("Salary")]).show(5)

+----------------+-------------+--------+--------+--------+
|            Name|         Team|Position|Birthday|  Salary|
+----------------+-------------+--------+--------+--------+
|Chandler Parsons|Atlanta Hawks|      SF|10/25/88|25102512|
|     Evan Turner|Atlanta Hawks|      PG|10/27/88|18606556|
|    Allen Crabbe|Atlanta Hawks|      SG|  4/9/92|18500000|
| De'Andre Hunter|Atlanta Hawks|      SF| 12/2/97| 7068360|
|   Jabari Parker|Atlanta Hawks|      PF| 3/15/95| 6500000|
+----------------+-------------+--------+--------+--------+
only showing top 5 rows

In [46]:
df.orderBy("Salary").limit(5).show()

+----------------+------------------+--------+--------+------+
|            Name|              Team|Position|Birthday|Salary|
+----------------+------------------+--------+--------+------+
|Jarrell Brantley|         Utah Jazz|      PF|  6/7/96| 79568|
| Michael Frazier|   Houston Rockets|       G|  3/8/94| 79568|
|Garrison Mathews|Washington Wizards|      SG|10/24/96| 79568|
|    Norvel Pelle|Philadelphia 76ers|      FC|  2/3/93| 79568|
| Brandon Goodwin|     Atlanta Hawks|      PG| 10/2/95| 79568|
+----------------+------------------+--------+--------+------+

In [47]:
df.orderBy("Salary").limit(4).show()

+--------------+--------------------+--------+--------+------+
|          Name|                Team|Position|Birthday|Salary|
+--------------+--------------------+--------+--------+------+
|Zylan Cheatham|New Orleans Pelicans|      SF|11/17/95| 79568|
|  Norvel Pelle|  Philadelphia 76ers|      FC|  2/3/93| 79568|
|Henry Ellenson|       Brooklyn Nets|      PF| 1/13/97| 79568|
|    Tyler Cook| Cleveland Cavaliers|      PF| 9/23/97| 79568|
+--------------+--------------------+--------+--------+------+

In [48]:
df.orderBy(desc("Salary")).limit(5).show()

+-----------------+--------------------+--------+--------+--------+
|             Name|                Team|Position|Birthday|  Salary|
+-----------------+--------------------+--------+--------+--------+
|    Stephen Curry|Golden State Warr...|      PG| 3/14/88|40231758|
|       Chris Paul|Oklahoma City Thu...|      PG|  5/6/85|38506482|
|Russell Westbrook|     Houston Rockets|      PG|11/12/88|38506482|
|        John Wall|  Washington Wizards|      PG|  9/6/90|38199000|
|     James Harden|     Houston Rockets|      PG| 8/26/89|38199000|
+-----------------+--------------------+--------+--------+--------+

In [49]:
df.orderBy(desc("Salary")).limit(4).show()

+-----------------+--------------------+--------+--------+--------+
|             Name|                Team|Position|Birthday|  Salary|
+-----------------+--------------------+--------+--------+--------+
|    Stephen Curry|Golden State Warr...|      PG| 3/14/88|40231758|
|       Chris Paul|Oklahoma City Thu...|      PG|  5/6/85|38506482|
|Russell Westbrook|     Houston Rockets|      PG|11/12/88|38506482|
|     James Harden|     Houston Rockets|      PG| 8/26/89|38199000|
+-----------------+--------------------+--------+--------+--------+

# Row Operations

In [51]:
df.filter("Team == 'New York Knicks'").show()

+-----------------+---------------+--------+--------+--------+
|             Name|           Team|Position|Birthday|  Salary|
+-----------------+---------------+--------+--------+--------+
|    Marcus Morris|New York Knicks|      PF|  9/2/89|15000000|
|   Damyean Dotson|New York Knicks|      SG|  5/6/94| 1618520|
| Ignas Brazdeikis|New York Knicks|      SF|  1/8/99|  898310|
|        Ivan Rabb|New York Knicks|      PF|  2/4/97|   79568|
|       Kevin Knox|New York Knicks|      PF| 8/11/99| 4380120|
|    Julius Randle|New York Knicks|       C|11/29/94|18000000|
|Mitchell Robinson|New York Knicks|       C|  4/1/98| 1559712|
|  Wayne Ellington|New York Knicks|      SG|11/29/87| 8000000|
|       RJ Barrett|New York Knicks|      SG| 6/14/00| 7839960|
|    Elfrid Payton|New York Knicks|      PG| 2/22/94| 8000000|
|    Allonzo Trier|New York Knicks|      PG| 1/17/96| 3551100|
|   Reggie Bullock|New York Knicks|      SF| 3/16/91| 4000000|
|     Bobby Portis|New York Knicks|       C| 2/10/95|15000000|
|       Taj Gibson|New York Knicks|       C| 6/24/85| 9000000|
|  Frank Ntilikina|New York Knicks|      PG| 7/28/98| 4855800|
|     Kadeem Allen|New York Knicks|      PG| 1/15/93|   79568|
+-----------------+---------------+--------+--------+--------+

In [53]:
df.limit(5).show()

+--------------+------------------+--------+--------+-------+
|          Name|              Team|Position|Birthday| Salary|
+--------------+------------------+--------+--------+-------+
|  Shake Milton|Philadelphia 76ers|      SG| 9/26/96|1445697|
|Christian Wood|   Detroit Pistons|      PF| 9/27/95|1645357|
| PJ Washington| Charlotte Hornets|      PF| 8/23/98|3831840|
|  Derrick Rose|   Detroit Pistons|      PG| 10/4/88|7317074|
| Marial Shayok|Philadelphia 76ers|       G| 7/26/95|  79568|
+--------------+------------------+--------+--------+-------+

In [54]:
df.take(5)

[Row(Name='Shake Milton', Team='Philadelphia 76ers', Position='SG', Birthday='9/26/96', Salary=1445697),
 Row(Name='Christian Wood', Team='Detroit Pistons', Position='PF', Birthday='9/27/95', Salary=1645357),
 Row(Name='PJ Washington', Team='Charlotte Hornets', Position='PF', Birthday='8/23/98', Salary=3831840),
 Row(Name='Derrick Rose', Team='Detroit Pistons', Position='PG', Birthday='10/4/88', Salary=7317074),
 Row(Name='Marial Shayok', Team='Philadelphia 76ers', Position='G', Birthday='7/26/95', Salary=79568)]

In [55]:
df.collect()

[Row(Name='Shake Milton', Team='Philadelphia 76ers', Position='SG', Birthday='9/26/96', Salary=1445697),
 Row(Name='Christian Wood', Team='Detroit Pistons', Position='PF', Birthday='9/27/95', Salary=1645357),
 Row(Name='PJ Washington', Team='Charlotte Hornets', Position='PF', Birthday='8/23/98', Salary=3831840),
 Row(Name='Derrick Rose', Team='Detroit Pistons', Position='PG', Birthday='10/4/88', Salary=7317074),
 Row(Name='Marial Shayok', Team='Philadelphia 76ers', Position='G', Birthday='7/26/95', Salary=79568),
 Row(Name='Draymond Green', Team='Golden State Warriors', Position='PF', Birthday='3/4/90', Salary=18539130),
 Row(Name='Kendrick Nunn', Team='Miami Heat', Position='SG', Birthday='8/3/95', Salary=1416852),
 Row(Name='Cedi Osman', Team='Cleveland Cavaliers', Position='SF', Birthday='4/8/95', Salary=2907143),
 Row(Name='Brook Lopez', Team='Milwaukee Bucks', Position='C', Birthday='4/1/88', Salary=12093024),
 Row(Name='Torrey Craig', Team='Denver Nuggets', Position='SF', Birthday='12/19/90', Salary=2000000),
 Row(Name='Jordan Clarkson', Team='Cleveland Cavaliers', Position='PG', Birthday='6/7/92', Salary=13437500),
 Row(Name='Alex Caruso', Team='Los Angeles Lakers', Position='PG', Birthday='2/28/94', Salary=2750000),
 Row(Name='Norvel Pelle', Team='Philadelphia 76ers', Position='FC', Birthday='2/3/93', Salary=79568),
 Row(Name='Tyler Johnson', Team='Phoenix Suns', Position='PG', Birthday='5/7/92', Salary=19245370),
 Row(Name='Alec Burks', Team='Golden State Warriors', Position='SG', Birthday='7/20/91', Salary=2320044),
 Row(Name='JaMychal Green', Team='Los Angeles Clippers', Position='PF', Birthday='6/21/90', Salary=4767000),
 Row(Name='Dwight Howard', Team='Los Angeles Lakers', Position='C', Birthday='12/8/85', Salary=5603850),
 Row(Name='Nikola Jokic', Team='Denver Nuggets', Position='C', Birthday='2/19/95', Salary=27504630),
 Row(Name='Chris Boucher', Team='Toronto Raptors', Position='PF', Birthday='1/11/93', Salary=1588231),
 Row(Name='Marcus Morris', Team='New York Knicks', Position='PF', Birthday='9/2/89', Salary=15000000),
 Row(Name='Kevin Huerter', Team='Atlanta Hawks', Position='SG', Birthday='8/27/98', Salary=2636280),
 Row(Name='Rui Hachimura', Team='Washington Wizards', Position='PF', Birthday='2/8/98', Salary=4469160),
 Row(Name='George Hill', Team='Milwaukee Bucks', Position='PG', Birthday='5/4/86', Salary=10133907),
 Row(Name='Nickeil Alexander-Walker', Team='New Orleans Pelicans', Position='SG', Birthday='9/2/98', Salary=2964840),
 Row(Name='Jaylen Hoard', Team='Portland Trail Blazers', Position='SF', Birthday='3/30/99', Salary=79568),
 Row(Name='Tyler Cook', Team='Cleveland Cavaliers', Position='PF', Birthday='9/23/97', Salary=79568),
 Row(Name='Otto Porter', Team='Chicago Bulls', Position='SF', Birthday='6/3/93', Salary=27250576),
 Row(Name='Langston Galloway', Team='Detroit Pistons', Position='PG', Birthday='12/9/91', Salary=7333333),
 Row(Name='Evan Turner', Team='Atlanta Hawks', Position='PG', Birthday='10/27/88', Salary=18606556),
 Row(Name='Norman Powell', Team='Toronto Raptors', Position='SG', Birthday='5/25/93', Salary=10116576),
 Row(Name='Nicolas Claxton', Team='Brooklyn Nets', Position='PF', Birthday='4/17/99', Salary=898310),
 Row(Name='Michael Frazier', Team='Houston Rockets', Position='G', Birthday='3/8/94', Salary=79568),
 Row(Name='Paul Millsap', Team='Denver Nuggets', Position='PF', Birthday='2/10/85', Salary=30000000),
 Row(Name='Furkan Korkmaz', Team='Philadelphia 76ers', Position='SG', Birthday='7/24/97', Salary=1620564),
 Row(Name='Trey Burke', Team='Philadelphia 76ers', Position='PG', Birthday='11/12/92', Salary=2028594),
 Row(Name='Bradley Beal', Team='Washington Wizards', Position='SG', Birthday='6/28/93', Salary=27093018),
 Row(Name='Thomas Bryant', Team='Washington Wizards', Position='C', Birthday='7/31/97', Salary=8000000),
 Row(Name='Dean Wade', Team='Cleveland Cavaliers', Position='PF', Birthday='11/20/96', Salary=79568),
 Row(Name='Chris Paul', Team='Oklahoma City Thunder', Position='PG', Birthday='5/6/85', Salary=38506482),
 Row(Name='Josh Hart', Team='New Orleans Pelicans', Position='SF', Birthday='3/6/95', Salary=1934160),
 Row(Name='LaMarcus Aldridge', Team='San Antonio Spurs', Position='C', Birthday='7/19/85', Salary=26000000),
 Row(Name='DaQuan Jeffries', Team='Sacramento Kings', Position='SG', Birthday='8/30/97', Salary=898310),
 Row(Name='Hamidou Diallo', Team='Oklahoma City Thunder', Position='SF', Birthday='7/31/98', Salary=1416852),
 Row(Name='Jamal Murray', Team='Denver Nuggets', Position='PG', Birthday='2/23/97', Salary=4444746),
 Row(Name='Darius Bazley', Team='Oklahoma City Thunder', Position='PF', Birthday='6/12/00', Salary=2284800),
 Row(Name='Robert Franks', Team='Charlotte Hornets', Position='F', Birthday='12/18/96', Salary=79568),
 Row(Name='Gerald Green', Team='Houston Rockets', Position='SF', Birthday='1/26/86', Salary=2564753),
 Row(Name='Thaddeus Young', Team='Chicago Bulls', Position='PF', Birthday='6/21/88', Salary=12900000),
 Row(Name='Sviatoslav Mykhailiuk', Team='Detroit Pistons', Position='SF', Birthday='6/10/97', Salary=1416852),
 Row(Name='Ian Mahinmi', Team='Washington Wizards', Position='C', Birthday='11/5/86', Salary=15450051),
 Row(Name='Deonte Burton', Team='Oklahoma City Thunder', Position='SG', Birthday='1/31/94', Salary=1416852),
 Row(Name='Markelle Fultz', Team='Orlando Magic', Position='PG', Birthday='5/29/98', Salary=9745200),
 Row(Name='Aaron Gordon', Team='Orlando Magic', Position='PF', Birthday='9/16/95', Salary=19863636),
 Row(Name='Dzanan Musa', Team='Brooklyn Nets', Position='SF', Birthday='5/8/99', Salary=1911600),
 Row(Name='Patrick McCaw', Team='Toronto Raptors', Position='SF', Birthday='10/25/95', Salary=4000000),
 Row(Name='Bismack Biyombo', Team='Charlotte Hornets', Position='C', Birthday='8/28/92', Salary=17000000),
 Row(Name='JaVale McGee', Team='Los Angeles Lakers', Position='C', Birthday='1/19/88', Salary=4000000),
 Row(Name='Juwan Morgan', Team='Utah Jazz', Position='F', Birthday='4/17/97', Salary=796806),
 Row(Name='Marc Gasol', Team='Toronto Raptors', Position='C', Birthday='1/29/85', Salary=25595700),
 Row(Name='Marcus Smart', Team='Boston Celtics', Position='PG', Birthday='3/6/94', Salary=12553571),
 Row(Name='Rudy Gobert', Team='Utah Jazz', Position='C', Birthday='6/26/92', Salary=24258427),
 Row(Name='Wesley Iwundu', Team='Orlando Magic', Position='SF', Birthday='12/20/94', Salary=1618520),
 Row(Name='Dwight Powell', Team='Dallas Mavericks', Position='C', Birthday='7/20/91', Salary=10259375),
 Row(Name='Goran Dragic', Team='Miami Heat', Position='PG', Birthday='5/6/86', Salary=19217900),
 Row(Name='Theo Pinson', Team='Brooklyn Nets', Position='SG', Birthday='11/5/95', Salary=1445697),
 Row(Name='Danilo Gallinari', Team='Oklahoma City Thunder', Position='PF', Birthday='8/8/88', Salary=22615559),
 Row(Name='Joe Ingles', Team='Utah Jazz', Position='PF', Birthday='10/2/87', Salary=11454546),
 Row(Name='Jarrett Culver', Team='Minnesota Timberwolves', Position='SG', Birthday='2/20/99', Salary=5813640),
 Row(Name='Robert Covington', Team='Minnesota Timberwolves', Position='PF', Birthday='12/14/90', Salary=11301219),
 Row(Name='Damyean Dotson', Team='New York Knicks', Position='SG', Birthday='5/6/94', Salary=1618520),
 Row(Name='Patrick Beverley', Team='Los Angeles Clippers', Position='PG', Birthday='7/12/88', Salary=12345680),
 Row(Name='Kevin Love', Team='Cleveland Cavaliers', Position='C', Birthday='9/7/88', Salary=28942830),
 Row(Name='Quinn Cook', Team='Los Angeles Lakers', Position='PG', Birthday='3/23/93', Salary=3000000),
 Row(Name='Justin Wright-Foreman', Team='Utah Jazz', Position='G', Birthday='10/27/97', Salary=79568),
 Row(Name='Noah Vonleh', Team='Minnesota Timberwolves', Position='C', Birthday='8/24/95', Salary=2000000),
 Row(Name='Tyus Jones', Team='Memphis Grizzlies', Position='PG', Birthday='5/10/96', Salary=9258000),
 Row(Name='Dewayne Dedmon', Team='Sacramento Kings', Position='C', Birthday='8/12/89', Salary=13333334),
 Row(Name='Malcolm Brogdon', Team='Indiana Pacers', Position='PG', Birthday='12/11/92', Salary=20000000),
 Row(Name='Ben McLemore', Team='Houston Rockets', Position='SG', Birthday='2/11/93', Salary=2028594),
 Row(Name='Wilson Chandler', Team='Brooklyn Nets', Position='PF', Birthday='5/10/87', Salary=2564753),
 Row(Name='Isaac Bonga', Team='Washington Wizards', Position='PG', Birthday='11/8/99', Salary=1416852),
 Row(Name='Adam Mokoka', Team='Chicago Bulls', Position='G', Birthday='7/18/98', Salary=79568),
 Row(Name='Lonzo Ball', Team='New Orleans Pelicans', Position='PG', Birthday='10/27/97', Salary=8719320),
 Row(Name='Jalen Brunson', Team='Dallas Mavericks', Position='PG', Birthday='8/31/96', Salary=1416852),
 Row(Name='John Collins', Team='Atlanta Hawks', Position='PF', Birthday='9/23/97', Salary=2686560),
 Row(Name='Marvin Williams', Team='Charlotte Hornets', Position='PF', Birthday='6/19/86', Salary=15006250),
 Row(Name='Brad Wanamaker', Team='Boston Celtics', Position='PG', Birthday='7/25/89', Salary=1445697),
 Row(Name='Donte DiVincenzo', Team='Milwaukee Bucks', Position='SG', Birthday='1/31/97', Salary=2905800),
 Row(Name='Omari Spellman', Team='Golden State Warriors', Position='PF', Birthday='7/21/97', Salary=1897800),
 Row(Name='Joe Harris', Team='Brooklyn Nets', Position='SF', Birthday='9/6/91', Salary=7666667),
 Row(Name="Royce O'Neale", Team='Utah Jazz', Position='PF', Birthday='6/5/93', Salary=1618520),
 Row(Name='Deandre Ayton', Team='Phoenix Suns', Position='C', Birthday='7/23/98', Salary=9562920),
 Row(Name='Cory Joseph', Team='Sacramento Kings', Position='PG', Birthday='8/20/91', Salary=12000000),
 Row(Name='Malcolm Miller', Team='Toronto Raptors', Position='SF', Birthday='3/6/93', Salary=1588231),
 Row(Name='Justise Winslow', Team='Miami Heat', Position='PF', Birthday='3/26/96', Salary=13000000),
 Row(Name='Kevin Durant', Team='Brooklyn Nets', Position='PF', Birthday='9/29/88', Salary=37199000),
 Row(Name='Evan Fournier', Team='Orlando Magic', Position='SF', Birthday='10/29/92', Salary=17000000),
 Row(Name='Chris Silva', Team='Miami Heat', Position='PF', Birthday='9/19/96', Salary=79568),
 Row(Name='Vince Carter', Team='Atlanta Hawks', Position='PF', Birthday='1/26/77', Salary=2564753),
 Row(Name='Cody Zeller', Team='Charlotte Hornets', Position='C', Birthday='10/5/92', Salary=14471910),
 Row(Name='Brian Bowen', Team='Indiana Pacers', Position='SG', Birthday='10/2/98', Salary=79568),
 Row(Name='Aaron Holiday', Team='Indiana Pacers', Position='PG', Birthday='9/30/96', Salary=2239200),
 Row(Name='Troy Daniels', Team='Los Angeles Lakers', Position='SG', Birthday='7/15/91', Salary=2028594),
 Row(Name='Buddy Hield', Team='Sacramento Kings', Position='SG', Birthday='12/17/92', Salary=4861207),
 Row(Name='Terance Mann', Team='Los Angeles Clippers', Position='SG', Birthday='10/18/96', Salary=1000000),
 Row(Name='John Konchar', Team='Memphis Grizzlies', Position='SG', Birthday='3/22/96', Salary=79568),
 Row(Name='KZ Okpala', Team='Miami Heat', Position='SF', Birthday='4/28/99', Salary=898310),
 Row(Name='Denzel Valentine', Team='Chicago Bulls', Position='SF', Birthday='11/16/93', Salary=3377568),
 Row(Name='Marquese Chriss', Team='Golden State Warriors', Position='PF', Birthday='7/2/97', Salary=1678854),
 Row(Name='Anthony Davis', Team='Los Angeles Lakers', Position='C', Birthday='3/11/93', Salary=27093019),
 Row(Name='Nemanja Bjelica', Team='Sacramento Kings', Position='PF', Birthday='5/9/88', Salary=6825000),
 Row(Name='Chandler Parsons', Team='Atlanta Hawks', Position='SF', Birthday='10/25/88', Salary=25102512),
 Row(Name='Courtney Lee', Team='Dallas Mavericks', Position='SG', Birthday='10/3/85', Salary=12759670),
 Row(Name='Myles Turner', Team='Indiana Pacers', Position='C', Birthday='3/24/96', Salary=18000000),
 Row(Name="Kyle O'Quinn", Team='Philadelphia 76ers', Position='C', Birthday='3/26/90', Salary=2174318),
 Row(Name='Bryn Forbes', Team='San Antonio Spurs', Position='SG', Birthday='7/23/93', Salary=2875000),
 Row(Name='Duncan Robinson', Team='Miami Heat', Position='PF', Birthday='4/22/94', Salary=1416852),
 Row(Name='Devin Booker', Team='Phoenix Suns', Position='SG', Birthday='10/30/96', Salary=27285000),
 Row(Name='Grant Williams', Team='Boston Celtics', Position='PF', Birthday='11/30/98', Salary=2379840),
 Row(Name='DeMarcus Cousins', Team='Los Angeles Lakers', Position='C', Birthday='8/13/90', Salary=3500000),
 Row(Name='DeMar DeRozan', Team='San Antonio Spurs', Position='SF', Birthday='8/7/89', Salary=27739975),
 Row(Name='Kristaps Porzingis', Team='Dallas Mavericks', Position='PF', Birthday='8/2/95', Salary=27285000),
 Row(Name='Brandon Knight', Team='Cleveland Cavaliers', Position='PG', Birthday='12/2/91', Salary=15643750),
 Row(Name='Thabo Sefolosha', Team='Houston Rockets', Position='PF', Birthday='5/2/84', Salary=2564753),
 Row(Name='David Nwaba', Team='Brooklyn Nets', Position='SF', Birthday='1/14/93', Salary=1678854),
 Row(Name='Quinndary Weatherspoon', Team='San Antonio Spurs', Position='G', Birthday='9/10/96', Salary=79568),
 Row(Name='Dewan Hernandez', Team='Toronto Raptors', Position='C', Birthday='12/9/96', Salary=898310),
 Row(Name='Isaiah Thomas', Team='Washington Wizards', Position='PG', Birthday='2/7/89', Salary=2320044),
 Row(Name='Bruce Brown', Team='Detroit Pistons', Position='SG', Birthday='8/15/96', Salary=1416852),
 Row(Name='Keldon Johnson', Team='San Antonio Spurs', Position='SF', Birthday='10/11/99', Salary=1950600),
 Row(Name='Damian Jones', Team='Atlanta Hawks', Position='C', Birthday='6/30/95', Salary=2305057),
 Row(Name='Luguentz Dort', Team='Oklahoma City Thunder', Position='G', Birthday='4/19/99', Salary=79568),
 Row(Name='Terence Davis', Team='Toronto Raptors', Position='SG', Birthday='5/16/97', Salary=898310),
 Row(Name='Chandler Hutchison', Team='Chicago Bulls', Position='SF', Birthday='4/26/96', Salary=2332320),
 Row(Name='Steven Adams', Team='Oklahoma City Thunder', Position='C', Birthday='7/20/93', Salary=25842697),
 Row(Name='Jordan Poole', Team='Golden State Warriors', Position='SG', Birthday='6/19/99', Salary=1964760),
 Row(Name='Sekou Doumbouya', Team='Detroit Pistons', Position='SF', Birthday='12/23/00', Salary=3285120),
 Row(Name='Zion Williamson', Team='New Orleans Pelicans', Position='F', Birthday='7/6/00', Salary=9757440),
 Row(Name='Mike Muscala', Team='Oklahoma City Thunder', Position='C', Birthday='7/1/91', Salary=2028594),
 Row(Name='Skal Labissiere', Team='Portland Trail Blazers', Position='C', Birthday='3/18/96', Salary=2338846),
 Row(Name='Meyers Leonard', Team='Miami Heat', Position='C', Birthday='2/27/92', Salary=11286515),
 Row(Name='Reggie Jackson', Team='Detroit Pistons', Position='PG', Birthday='4/16/90', Salary=18086956),
 Row(Name='Alfonzo McKinnie', Team='Cleveland Cavaliers', Position='SF', Birthday='9/17/92', Salary=1588231),
 Row(Name='Yuta Watanabe', Team='Memphis Grizzlies', Position='SF', Birthday='10/13/94', Salary=79568),
 Row(Name='Kentavious Caldwell-Pope', Team='Los Angeles Lakers', Position='SG', Birthday='2/18/93', Salary=8089282),
 Row(Name='Kelan Martin', Team='Minnesota Timberwolves', Position='SF', Birthday='8/3/95', Salary=79568),
 Row(Name='OG Anunoby', Team='Toronto Raptors', Position='SF', Birthday='7/17/97', Salary=2281800),
 Row(Name='Tyler Herro', Team='Miami Heat', Position='SG', Birthday='1/20/00', Salary=3640200),
 Row(Name='Richaun Holmes', Team='Sacramento Kings', Position='C', Birthday='10/15/93', Salary=4767000),
 Row(Name='Tyson Chandler', Team='Houston Rockets', Position='C', Birthday='10/2/82', Salary=2564753),
 Row(Name='Solomon Hill', Team='Memphis Grizzlies', Position='SF', Birthday='3/18/91', Salary=13290395),
 Row(Name='Keita Bates-Diop', Team='Minnesota Timberwolves', Position='SF', Birthday='1/23/96', Salary=1416852),
 Row(Name='Kelly Olynyk', Team='Miami Heat', Position='C', Birthday='4/19/91', Salary=12667885),
 Row(Name='Jaxson Hayes', Team='New Orleans Pelicans', Position='C', Birthday='5/23/00', Salary=4862040),
 Row(Name='CJ McCollum', Team='Portland Trail Blazers', Position='SG', Birthday='9/19/91', Salary=27556959),
 Row(Name='Darius Miller', Team='New Orleans Pelicans', Position='SF', Birthday='3/21/90', Salary=7250000),
 Row(Name='Luka Doncic', Team='Dallas Mavericks', Position='PG', Birthday='2/28/99', Salary=7683360),
 Row(Name='DeMarre Carroll', Team='San Antonio Spurs', Position='PF', Birthday='7/27/86', Salary=7000000),
 Row(Name='Cristiano Felicio', Team='Chicago Bulls', Position='C', Birthday='7/7/92', Salary=8156500),
 Row(Name='Zach LaVine', Team='Chicago Bulls', Position='PG', Birthday='3/10/95', Salary=19500000),
 Row(Name='Tremont Waters', Team='Boston Celtics', Position='PG', Birthday='1/10/98', Salary=79568),
 Row(Name='Dejounte Murray', Team='San Antonio Spurs', Position='PG', Birthday='9/19/96', Salary=2321735),
 Row(Name='Jerome Robinson', Team='Los Angeles Clippers', Position='SG', Birthday='2/22/97', Salary=3567720),
 Row(Name='Rudy Gay', Team='San Antonio Spurs', Position='PF', Birthday='8/17/86', Salary=14500000),
 Row(Name='Ryan Broekhoff', Team='Dallas Mavericks', Position='SG', Birthday='8/23/90', Salary=1416852),
 Row(Name='Jake Layman', Team='Minnesota Timberwolves', Position='PF', Birthday='3/7/94', Salary=3581986),
 Row(Name='Cameron Johnson', Team='Phoenix Suns', Position='PF', Birthday='3/3/96', Salary=4033440),
 Row(Name='Allen Crabbe', Team='Atlanta Hawks', Position='SG', Birthday='4/9/92', Salary=18500000),
 Row(Name='Justin James', Team='Sacramento Kings', Position='SG', Birthday='1/24/97', Salary=898310),
 Row(Name='Emmanuel Mudiay', Team='Utah Jazz', Position='PG', Birthday='3/5/96', Salary=1737145),
 Row(Name='Avery Bradley', Team='Los Angeles Lakers', Position='PG', Birthday='11/26/90', Salary=6767000),
 Row(Name='Victor Oladipo', Team='Indiana Pacers', Position='PG', Birthday='5/4/92', Salary=21000000),
 Row(Name='Caleb Martin', Team='Charlotte Hornets', Position='SF', Birthday='9/28/95', Salary=898310),
 Row(Name='Coby White', Team='Chicago Bulls', Position='SG', Birthday='2/16/00', Salary=5307120),
 Row(Name='Isaiah Hartenstein', Team='Houston Rockets', Position='C', Birthday='5/5/98', Salary=1416852),
 Row(Name='Will Barton', Team='Denver Nuggets', Position='SF', Birthday='1/6/91', Salary=12776786),
 Row(Name='Dwayne Bacon', Team='Charlotte Hornets', Position='SG', Birthday='8/30/95', Salary=1618520),
 Row(Name='Harrison Barnes', Team='Sacramento Kings', Position='PF', Birthday='5/30/92', Salary=24147727),
 Row(Name='Tim Frazier', Team='Detroit Pistons', Position='PG', Birthday='11/1/90', Salary=1620564),
 Row(Name='Jimmy Butler', Team='Miami Heat', Position='SF', Birthday='9/14/89', Salary=32742000),
 Row(Name='Gary Harris', Team='Denver Nuggets', Position='SG', Birthday='9/14/94', Salary=17839286),
 Row(Name='Thon Maker', Team='Detroit Pistons', Position='C', Birthday='2/25/97', Salary=3569643),
 Row(Name='Shai Gilgeous-Alexander', Team='Oklahoma City Thunder', Position='PG', Birthday='7/12/98', Salary=3952920),
 Row(Name='Hassan Whiteside', Team='Portland Trail Blazers', Position='C', Birthday='6/13/89', Salary=27093018),
 Row(Name='Karl-Anthony Towns', Team='Minnesota Timberwolves', Position='C', Birthday='11/15/95', Salary=27285000),
 Row(Name='Ky Bowman', Team='Golden State Warriors', Position='PG', Birthday='6/16/97', Salary=79568),
 Row(Name='Ben Simmons', Team='Philadelphia 76ers', Position='PG', Birthday='7/20/96', Salary=8113929),
 Row(Name='Terrence Ross', Team='Orlando Magic', Position='SF', Birthday='2/5/91', Salary=12500000),
 Row(Name='Jordan McLaughlin', Team='Minnesota Timberwolves', Position='PG', Birthday='4/9/96', Salary=79568),
 Row(Name='Daniel Theis', Team='Boston Celtics', Position='C', Birthday='4/4/92', Salary=5000000),
 Row(Name='Jonathan Isaac', Team='Orlando Magic', Position='PF', Birthday='10/3/97', Salary=5806440),
 Row(Name='Cheick Diallo', Team='Phoenix Suns', Position='C', Birthday='9/13/96', Salary=1678854),

In [57]:
from pyspark.sql.functions import col

df = (
    df.withColumn("Salary_k",
                  col("Salary") / 1000)
)
df.show(5)

+--------------+------------------+--------+--------+-------+--------+
|          Name|              Team|Position|Birthday| Salary|Salary_k|
+--------------+------------------+--------+--------+-------+--------+
|  Shake Milton|Philadelphia 76ers|      SG| 9/26/96|1445697|1445.697|
|Christian Wood|   Detroit Pistons|      PF| 9/27/95|1645357|1645.357|
| PJ Washington| Charlotte Hornets|      PF| 8/23/98|3831840| 3831.84|
|  Derrick Rose|   Detroit Pistons|      PG| 10/4/88|7317074|7317.074|
| Marial Shayok|Philadelphia 76ers|       G| 7/26/95|  79568|  79.568|
+--------------+------------------+--------+--------+-------+--------+
only showing top 5 rows

In [58]:
f = (
    df.withColumn("Salary_k",
                  "Salary" / 1000)
)
df.show(5)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [59]:
df = df.drop("Salary_k")
df.show()

+---------------+--------------------+--------+--------+--------+
|           Name|                Team|Position|Birthday|  Salary|
+---------------+--------------------+--------+--------+--------+
|   Shake Milton|  Philadelphia 76ers|      SG| 9/26/96| 1445697|
| Christian Wood|     Detroit Pistons|      PF| 9/27/95| 1645357|
|  PJ Washington|   Charlotte Hornets|      PF| 8/23/98| 3831840|
|   Derrick Rose|     Detroit Pistons|      PG| 10/4/88| 7317074|
|  Marial Shayok|  Philadelphia 76ers|       G| 7/26/95|   79568|
| Draymond Green|Golden State Warr...|      PF|  3/4/90|18539130|
|  Kendrick Nunn|          Miami Heat|      SG|  8/3/95| 1416852|
|     Cedi Osman| Cleveland Cavaliers|      SF|  4/8/95| 2907143|
|    Brook Lopez|     Milwaukee Bucks|       C|  4/1/88|12093024|
|   Torrey Craig|      Denver Nuggets|      SF|12/19/90| 2000000|
|Jordan Clarkson| Cleveland Cavaliers|      PG|  6/7/92|13437500|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2/28/94| 2750000|
|   Norvel Pelle|  Philadelphia 76ers|      FC|  2/3/93|   79568|
|  Tyler Johnson|        Phoenix Suns|      PG|  5/7/92|19245370|
|     Alec Burks|Golden State Warr...|      SG| 7/20/91| 2320044|
| JaMychal Green|Los Angeles Clippers|      PF| 6/21/90| 4767000|
|  Dwight Howard|  Los Angeles Lakers|       C| 12/8/85| 5603850|
|   Nikola Jokic|      Denver Nuggets|       C| 2/19/95|27504630|
|  Chris Boucher|     Toronto Raptors|      PF| 1/11/93| 1588231|
|  Marcus Morris|     New York Knicks|      PF|  9/2/89|15000000|
+---------------+--------------------+--------+--------+--------+
only showing top 20 rows

In [61]:
df = (
    df.withColumn("Salary_2x",
                  col("Salary") * 2)
    .withColumn("Salary_3x",
                  col("Salary") * 3)
)

In [62]:
df.show()

+---------------+--------------------+--------+--------+--------+---------+---------+
|           Name|                Team|Position|Birthday|  Salary|Salary_2x|Salary_3x|
+---------------+--------------------+--------+--------+--------+---------+---------+
|   Shake Milton|  Philadelphia 76ers|      SG| 9/26/96| 1445697|  2891394|  4337091|
| Christian Wood|     Detroit Pistons|      PF| 9/27/95| 1645357|  3290714|  4936071|
|  PJ Washington|   Charlotte Hornets|      PF| 8/23/98| 3831840|  7663680| 11495520|
|   Derrick Rose|     Detroit Pistons|      PG| 10/4/88| 7317074| 14634148| 21951222|
|  Marial Shayok|  Philadelphia 76ers|       G| 7/26/95|   79568|   159136|   238704|
| Draymond Green|Golden State Warr...|      PF|  3/4/90|18539130| 37078260| 55617390|
|  Kendrick Nunn|          Miami Heat|      SG|  8/3/95| 1416852|  2833704|  4250556|
|     Cedi Osman| Cleveland Cavaliers|      SF|  4/8/95| 2907143|  5814286|  8721429|
|    Brook Lopez|     Milwaukee Bucks|       C|  4/1/88|12093024| 24186048| 36279072|
|   Torrey Craig|      Denver Nuggets|      SF|12/19/90| 2000000|  4000000|  6000000|
|Jordan Clarkson| Cleveland Cavaliers|      PG|  6/7/92|13437500| 26875000| 40312500|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2/28/94| 2750000|  5500000|  8250000|
|   Norvel Pelle|  Philadelphia 76ers|      FC|  2/3/93|   79568|   159136|   238704|
|  Tyler Johnson|        Phoenix Suns|      PG|  5/7/92|19245370| 38490740| 57736110|
|     Alec Burks|Golden State Warr...|      SG| 7/20/91| 2320044|  4640088|  6960132|
| JaMychal Green|Los Angeles Clippers|      PF| 6/21/90| 4767000|  9534000| 14301000|
|  Dwight Howard|  Los Angeles Lakers|       C| 12/8/85| 5603850| 11207700| 16811550|
|   Nikola Jokic|      Denver Nuggets|       C| 2/19/95|27504630| 55009260| 82513890|
|  Chris Boucher|     Toronto Raptors|      PF| 1/11/93| 1588231|  3176462|  4764693|
|  Marcus Morris|     New York Knicks|      PF|  9/2/89|15000000| 30000000| 45000000|
+---------------+--------------------+--------+--------+--------+---------+---------+
only showing top 20 rows

In [63]:
df = df.drop("Salary_2x", "Salary_3x")  # remove multiple columns
df.show()

+---------------+--------------------+--------+--------+--------+
|           Name|                Team|Position|Birthday|  Salary|
+---------------+--------------------+--------+--------+--------+
|   Shake Milton|  Philadelphia 76ers|      SG| 9/26/96| 1445697|
| Christian Wood|     Detroit Pistons|      PF| 9/27/95| 1645357|
|  PJ Washington|   Charlotte Hornets|      PF| 8/23/98| 3831840|
|   Derrick Rose|     Detroit Pistons|      PG| 10/4/88| 7317074|
|  Marial Shayok|  Philadelphia 76ers|       G| 7/26/95|   79568|
| Draymond Green|Golden State Warr...|      PF|  3/4/90|18539130|
|  Kendrick Nunn|          Miami Heat|      SG|  8/3/95| 1416852|
|     Cedi Osman| Cleveland Cavaliers|      SF|  4/8/95| 2907143|
|    Brook Lopez|     Milwaukee Bucks|       C|  4/1/88|12093024|
|   Torrey Craig|      Denver Nuggets|      SF|12/19/90| 2000000|
|Jordan Clarkson| Cleveland Cavaliers|      PG|  6/7/92|13437500|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2/28/94| 2750000|
|   Norvel Pelle|  Philadelphia 76ers|      FC|  2/3/93|   79568|
|  Tyler Johnson|        Phoenix Suns|      PG|  5/7/92|19245370|
|     Alec Burks|Golden State Warr...|      SG| 7/20/91| 2320044|
| JaMychal Green|Los Angeles Clippers|      PF| 6/21/90| 4767000|
|  Dwight Howard|  Los Angeles Lakers|       C| 12/8/85| 5603850|
|   Nikola Jokic|      Denver Nuggets|       C| 2/19/95|27504630|
|  Chris Boucher|     Toronto Raptors|      PF| 1/11/93| 1588231|
|  Marcus Morris|     New York Knicks|      PF|  9/2/89|15000000|
+---------------+--------------------+--------+--------+--------+
only showing top 20 rows

In [65]:
df = df.withColumnRenamed("Birthday", "DateOfBirth")
df.show()

+---------------+--------------------+--------+-----------+--------+
|           Name|                Team|Position|DateOfBirth|  Salary|
+---------------+--------------------+--------+-----------+--------+
|   Shake Milton|  Philadelphia 76ers|      SG|    9/26/96| 1445697|
| Christian Wood|     Detroit Pistons|      PF|    9/27/95| 1645357|
|  PJ Washington|   Charlotte Hornets|      PF|    8/23/98| 3831840|
|   Derrick Rose|     Detroit Pistons|      PG|    10/4/88| 7317074|
|  Marial Shayok|  Philadelphia 76ers|       G|    7/26/95|   79568|
| Draymond Green|Golden State Warr...|      PF|     3/4/90|18539130|
|  Kendrick Nunn|          Miami Heat|      SG|     8/3/95| 1416852|
|     Cedi Osman| Cleveland Cavaliers|      SF|     4/8/95| 2907143|
|    Brook Lopez|     Milwaukee Bucks|       C|     4/1/88|12093024|
|   Torrey Craig|      Denver Nuggets|      SF|   12/19/90| 2000000|
|Jordan Clarkson| Cleveland Cavaliers|      PG|     6/7/92|13437500|
|    Alex Caruso|  Los Angeles Lakers|      PG|    2/28/94| 2750000|
|   Norvel Pelle|  Philadelphia 76ers|      FC|     2/3/93|   79568|
|  Tyler Johnson|        Phoenix Suns|      PG|     5/7/92|19245370|
|     Alec Burks|Golden State Warr...|      SG|    7/20/91| 2320044|
| JaMychal Green|Los Angeles Clippers|      PF|    6/21/90| 4767000|
|  Dwight Howard|  Los Angeles Lakers|       C|    12/8/85| 5603850|
|   Nikola Jokic|      Denver Nuggets|       C|    2/19/95|27504630|
|  Chris Boucher|     Toronto Raptors|      PF|    1/11/93| 1588231|
|  Marcus Morris|     New York Knicks|      PF|     9/2/89|15000000|
+---------------+--------------------+--------+-----------+--------+
only showing top 20 rows

In [66]:
df = df.select("Name", "Team", "Position", "Salary", "DateOfBirth")
df.show()

+---------------+--------------------+--------+--------+-----------+
|           Name|                Team|Position|  Salary|DateOfBirth|
+---------------+--------------------+--------+--------+-----------+
|   Shake Milton|  Philadelphia 76ers|      SG| 1445697|    9/26/96|
| Christian Wood|     Detroit Pistons|      PF| 1645357|    9/27/95|
|  PJ Washington|   Charlotte Hornets|      PF| 3831840|    8/23/98|
|   Derrick Rose|     Detroit Pistons|      PG| 7317074|    10/4/88|
|  Marial Shayok|  Philadelphia 76ers|       G|   79568|    7/26/95|
| Draymond Green|Golden State Warr...|      PF|18539130|     3/4/90|
|  Kendrick Nunn|          Miami Heat|      SG| 1416852|     8/3/95|
|     Cedi Osman| Cleveland Cavaliers|      SF| 2907143|     4/8/95|
|    Brook Lopez|     Milwaukee Bucks|       C|12093024|     4/1/88|
|   Torrey Craig|      Denver Nuggets|      SF| 2000000|   12/19/90|
|Jordan Clarkson| Cleveland Cavaliers|      PG|13437500|     6/7/92|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2750000|    2/28/94|
|   Norvel Pelle|  Philadelphia 76ers|      FC|   79568|     2/3/93|
|  Tyler Johnson|        Phoenix Suns|      PG|19245370|     5/7/92|
|     Alec Burks|Golden State Warr...|      SG| 2320044|    7/20/91|
| JaMychal Green|Los Angeles Clippers|      PF| 4767000|    6/21/90|
|  Dwight Howard|  Los Angeles Lakers|       C| 5603850|    12/8/85|
|   Nikola Jokic|      Denver Nuggets|       C|27504630|    2/19/95|
|  Chris Boucher|     Toronto Raptors|      PF| 1588231|    1/11/93|
|  Marcus Morris|     New York Knicks|      PF|15000000|     9/2/89|
+---------------+--------------------+--------+--------+-----------+
only showing top 20 rows

# Aggregation with math calculations

In [68]:
# Summaries for numeric columns
df.selectExpr(
    "median(Salary) as median_salary",
    "mean(Salary) as mean_salary",
    "min(Salary) as min_salary",
    "max(Salary) as max_salary",
    "stddev_pop(Salary) as std_salary"
).show()

+-------------+-----------------+----------+----------+-----------------+
|median_salary|      mean_salary|min_salary|max_salary|       std_salary|
+-------------+-----------------+----------+----------+-----------------+
|    3303074.5|7653583.764444444|     79568|  40231758|9278483.657952718|
+-------------+-----------------+----------+----------+-----------------+

In [69]:
from pyspark.sql import functions as F
# Pre-compute the average salary (pulls it back as a Python float)
salary_mean = df.select(F.avg("Salary").alias("mean_salary")).collect()[0]["mean_salary"]
salary_mean

7653583.764444444

In [70]:

df2 = (
    df
    .withColumn("Salary_2x",
                F.col("Salary") * 2)    # Add Salary_2x
    .withColumn(
        "Name_w_Position",           # Concatenate Name and Position
        F.concat(F.col("Name"), F.lit(" ("), F.col("Position"), F.lit(")")))
    .withColumn(
        "Salary_minus_Mean",        # Subtract mean salary
        F.col("Salary") - F.lit(salary_mean))
)

df2.show()

+---------------+--------------------+--------+--------+-----------+---------+--------------------+--------------------+
|           Name|                Team|Position|  Salary|DateOfBirth|Salary_2x|     Name_w_Position|   Salary_minus_Mean|
+---------------+--------------------+--------+--------+-----------+---------+--------------------+--------------------+
|   Shake Milton|  Philadelphia 76ers|      SG| 1445697|    9/26/96|  2891394|   Shake Milton (SG)|  -6207886.764444444|
| Christian Wood|     Detroit Pistons|      PF| 1645357|    9/27/95|  3290714| Christian Wood (PF)|  -6008226.764444444|
|  PJ Washington|   Charlotte Hornets|      PF| 3831840|    8/23/98|  7663680|  PJ Washington (PF)| -3821743.7644444443|
|   Derrick Rose|     Detroit Pistons|      PG| 7317074|    10/4/88| 14634148|   Derrick Rose (PG)|  -336509.7644444443|
|  Marial Shayok|  Philadelphia 76ers|       G|   79568|    7/26/95|   159136|   Marial Shayok (G)|  -7574015.764444444|
| Draymond Green|Golden State Warr...|      PF|18539130|     3/4/90| 37078260| Draymond Green (PF)|1.0885546235555556E7|
|  Kendrick Nunn|          Miami Heat|      SG| 1416852|     8/3/95|  2833704|  Kendrick Nunn (SG)|  -6236731.764444444|
|     Cedi Osman| Cleveland Cavaliers|      SF| 2907143|     4/8/95|  5814286|     Cedi Osman (SF)|  -4746440.764444444|
|    Brook Lopez|     Milwaukee Bucks|       C|12093024|     4/1/88| 24186048|     Brook Lopez (C)|   4439440.235555556|
|   Torrey Craig|      Denver Nuggets|      SF| 2000000|   12/19/90|  4000000|   Torrey Craig (SF)|  -5653583.764444444|
|Jordan Clarkson| Cleveland Cavaliers|      PG|13437500|     6/7/92| 26875000|Jordan Clarkson (PG)|   5783916.235555556|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2750000|    2/28/94|  5500000|    Alex Caruso (PG)|  -4903583.764444444|
|   Norvel Pelle|  Philadelphia 76ers|      FC|   79568|     2/3/93|   159136|   Norvel Pelle (FC)|  -7574015.764444444|
|  Tyler Johnson|        Phoenix Suns|      PG|19245370|     5/7/92| 38490740|  Tyler Johnson (PG)|1.1591786235555556E7|
|     Alec Burks|Golden State Warr...|      SG| 2320044|    7/20/91|  4640088|     Alec Burks (SG)|  -5333539.764444444|
| JaMychal Green|Los Angeles Clippers|      PF| 4767000|    6/21/90|  9534000| JaMychal Green (PF)| -2886583.7644444443|
|  Dwight Howard|  Los Angeles Lakers|       C| 5603850|    12/8/85| 11207700|   Dwight Howard (C)| -2049733.7644444443|
|   Nikola Jokic|      Denver Nuggets|       C|27504630|    2/19/95| 55009260|    Nikola Jokic (C)|1.9851046235555556E7|
|  Chris Boucher|     Toronto Raptors|      PF| 1588231|    1/11/93|  3176462|  Chris Boucher (PF)|  -6065352.764444444|
|  Marcus Morris|     New York Knicks|      PF|15000000|     9/2/89| 30000000|  Marcus Morris (PF)|   7346416.235555556|
+---------------+--------------------+--------+--------+-----------+---------+--------------------+--------------------+
only showing top 20 rows

In [73]:
df.select(F.avg("Salary").alias("mean_salary"))

DataFrame[mean_salary: double]

# Convert data types

In [74]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Salary: long (nullable = true)
 |-- DateOfBirth: string (nullable = true)

In [75]:
df = df.withColumn("Salary_int",
                   col("Salary").cast("int"))

df.show()

+---------------+--------------------+--------+--------+-----------+----------+
|           Name|                Team|Position|  Salary|DateOfBirth|Salary_int|
+---------------+--------------------+--------+--------+-----------+----------+
|   Shake Milton|  Philadelphia 76ers|      SG| 1445697|    9/26/96|   1445697|
| Christian Wood|     Detroit Pistons|      PF| 1645357|    9/27/95|   1645357|
|  PJ Washington|   Charlotte Hornets|      PF| 3831840|    8/23/98|   3831840|
|   Derrick Rose|     Detroit Pistons|      PG| 7317074|    10/4/88|   7317074|
|  Marial Shayok|  Philadelphia 76ers|       G|   79568|    7/26/95|     79568|
| Draymond Green|Golden State Warr...|      PF|18539130|     3/4/90|  18539130|
|  Kendrick Nunn|          Miami Heat|      SG| 1416852|     8/3/95|   1416852|
|     Cedi Osman| Cleveland Cavaliers|      SF| 2907143|     4/8/95|   2907143|
|    Brook Lopez|     Milwaukee Bucks|       C|12093024|     4/1/88|  12093024|
|   Torrey Craig|      Denver Nuggets|      SF| 2000000|   12/19/90|   2000000|
|Jordan Clarkson| Cleveland Cavaliers|      PG|13437500|     6/7/92|  13437500|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2750000|    2/28/94|   2750000|
|   Norvel Pelle|  Philadelphia 76ers|      FC|   79568|     2/3/93|     79568|
|  Tyler Johnson|        Phoenix Suns|      PG|19245370|     5/7/92|  19245370|
|     Alec Burks|Golden State Warr...|      SG| 2320044|    7/20/91|   2320044|
| JaMychal Green|Los Angeles Clippers|      PF| 4767000|    6/21/90|   4767000|
|  Dwight Howard|  Los Angeles Lakers|       C| 5603850|    12/8/85|   5603850|
|   Nikola Jokic|      Denver Nuggets|       C|27504630|    2/19/95|  27504630|
|  Chris Boucher|     Toronto Raptors|      PF| 1588231|    1/11/93|   1588231|
|  Marcus Morris|     New York Knicks|      PF|15000000|     9/2/89|  15000000|
+---------------+--------------------+--------+--------+-----------+----------+
only showing top 20 rows

In [76]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Salary: long (nullable = true)
 |-- DateOfBirth: string (nullable = true)
 |-- Salary_int: integer (nullable = true)