<a href="https://colab.research.google.com/github/bcdanl/320-code/blob/main/danl_320_script_2025_0203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
word = 'thud'
for letter in word:
  if letter == 'u':
    break
  print(letter)

t
h

In [2]:
word = 'thud'
for letter in word:
  if letter == 'u':
    continue
  print(letter)

t
h
d

In [3]:
for x in range(0,3):
  print(x)

0
1
2

In [4]:
list(range(0,3))

[0, 1, 2]

In [6]:
for x in range(0,3,1):
  print(x)

0
1
2

In [7]:
for x in range(3):
  print(x)

0
1
2

In [8]:
word = 'thud'
for letter in word:
    if letter == 'x':
        print("Eek! An 'x'!")
        break
    print(letter)
else:
    print("No 'x' in there.")

t
h
u
d
No 'x' in there.

# CW 4.5

In [9]:
vals = [3, 2, 1, 0]

In [11]:
len(vals)

4

- Use a `while` loop to print each value of the list [3, 2, 1, 0], one at a time.

In [10]:
i = 0
while i < len(vals):
  print(vals[i])
  i += 1

3
2
1
0

- Use a `for` loop to print each value of the list [3, 2, 1, 0], one at a time.

In [12]:
for i in range(len(vals)):
  print(vals[i])

3
2
1
0

# CW 4.6

Assign the value 7 to the variable guess_me, and the value 1 to the variable number.

Write a while loop that compares number with guess_me.

- Print ‘too low’ if number is less than guess me.
- If number equals guess_me, print ‘found it!’ and then exit the loop.
- If number is greater than guess_me, print ‘oops’ and then exit the loop.

- Increment number at the end of the loop.

In [13]:
guess_me = 7
number = 1
while True:
  if number < guess_me:
    print("too low")
  elif number == guess_me:
    print("found it!")
    break
  else:
    print("oops")
    break
  number = number + 1

too low
too low
too low
too low
too low
too low
found it!

Write a for loop that compares number with guess_me.

Print ‘too low’ if number is less than guess me.
If number equals guess_me, print ‘found it!’ and then exit the loop.
If number is greater than guess_me, print ‘oops’ and then exit the loop.
Increment number at the end of the loop.

In [14]:
guess_me = 7
for number in range(1, guess_me + 1):
  if number < guess_me:
    print("too low")
  elif number == guess_me:
    print("found it!")
    break
  else:
    print("oops")
    break
  number = number + 1

too low
too low
too low
too low
too low
too low
found it!

# try-except

In [15]:
short_list = [1, 2, 3]
position = 5
short_list[position]

IndexError: list index out of range

In [16]:
short_list = [1, 2, 3]
position = 5

try:
    short_list[position]
except:
    print('Need a position between 0 and', len(short_list)-1, 'but got',
    position)

Need a position between 0 and 2  but got 5

In [17]:
short_list = [1, 2, 3]
while True:
    value = input('Position [q to quit]? ')
    if value == 'q':
        break
    try:
        position = int(value)
        print(short_list[position])
    except IndexError as err:
        print('Bad index:', position)
    except Exception as other:
        print('Something else broke:', other)

Position [q to quit]? 0
1
Position [q to quit]? 2
3
Position [q to quit]? 5
Bad index: 5
Position [q to quit]? a
Something else broke: invalid literal for int() with base 10: 'a'
Position [q to quit]? q

In [18]:
short_list['a']

TypeError: list indices must be integers or slices, not str

In [19]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [20]:
short_list = [1, 2, 3]
while True:
    value = input('Position [q to quit]? ')
    if value == 'q':
        break
    try:
        position = int(value)
        print(short_list[position])
    except IndexError as err:
        print('Bad index:', position)
    except ValueError as other:
        print('Something else broke:', other)

Position [q to quit]? a
Something else broke: invalid literal for int() with base 10: 'a'
Position [q to quit]? q

# CW 4.7


Write a Python program to:
Attempt to convert value to a floating-point number using float().
If the conversion is successful, print: “You entered: value” (e.g., "You entered: 320").
If the conversion fails (e.g., the value is not a valid number), print: “That’s not a valid number!”.
Use a try-except block to handle the potential error.

In [22]:
value = "$320"

In [23]:
val_n = float(value)

ValueError: could not convert string to float: '$320'

In [24]:
try:
  val_n = float(value)
except:
  print("That’s not a valid number!")

That’s not a valid number!

# CW 4.8


- Import the pandas library as pd.
- Install the itables library.
- From itables, import the functions init_notebook_mode and show.

In [25]:
import pandas as pd

In [26]:
pip install itables

Collecting itables
  Downloading itables-2.2.4-py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from itables) (7.34.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from itables) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from itables) (2.2.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->itables) (75.1.0)
Collecting jedi>=0.16 (from ipython->itables)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->itables) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->itables) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->itables) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->itables) (3.0.50)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->itables) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->itables) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->itables) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->itables) (4.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->itables) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->itables) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->itables) (2025.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->itables) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->itables) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->itables) (0.2.13)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->itables) (1.17.0)
Downloading itables-2.2.4-py3-none-any.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 20.9 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 66.6 MB/s eta 0:00:00
Installing collected packages: jedi, itables
Successfully installed itables-2.2.4 jedi-0.19.2

In [27]:
from itables import show, init_notebook_mode

In [28]:
from pandas import read_csv

In [ ]:
read_csv()